schema/LCD_LoC_schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="conservationReport">
      <optional>
        <attribute name="projectN">
          <text/>
        </attribute>
      </optional>
      <element name="objects">
        <element name="object">
          <ref name="objectType"/>
          <optional>
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Date of
              Creation</documentation>
            <element name="date">
              <choice>
                <data type="gYear"/>
                <text/>
              </choice>
            </element>
          </optional>
          <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Call
            Number</documentation>
          <element name="shelfmark">
            <choice>
              <text/>
              <empty/>
            </choice>
          </element>
          <optional>
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">LoC specific
              numbers</documentation>
            <element name="masterControlN">
              <choice>
                <text/>
                <empty/>
              </choice>
            </element>
            <element name="LCCN">
              <choice>
                <text/>
                <empty/>
              </choice>
            </element>
            <element name="otherAssociatedN">
              <choice>
                <text/>
                <empty/>
              </choice>
            </element>
            <element name="itemName">
              <choice>
                <text/>
                <empty/>
              </choice>
            </element>
          </optional>
          <ref name="departments"/>
        </element>
      </element>
      <element name="treatments">
        <element name="treatment">
          <attribute name="performedBy">
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">If more than
              one conservator: <text>Conservator1; Conservator2; etc.</text></documentation>
            <choice>
              <value>Adachi, Michiko</value>
              <value>Albro, Sylvia</value>
              <value>Albro, Tom</value>
              <value>Anaya, Tamia</value>
              <value>Asta, Paul</value>
              <value>Bahlmann, Benjamin</value>
              <value>Bertonaschi, John</value>
              <value>Biggs, Julie</value>
              <value>Bissonette, Rachel</value>
              <value>Boone, Terry</value>
              <value>Brock, David</value>
              <value>Cai, Xiaoping</value>
              <value>Carlson, Lage</value>
              <value>Centeno, Beatriz</value>
              <value>Chaffee, Kaare</value>
              <value>Chipman, Alisha</value>
              <value>Clarkson, Christopher</value>
              <value>Condon, Rikki</value>
              <value>de Bovis, Marianne</value>
              <value>Dekle, Claire</value>
              <value>dela Torre, Simonette </value>
              <value>Duncan, Emilie</value>
              <value>Edwards, Gwenanne</value>
              <value>Eusman, Elmer</value>
              <value>Evers, Jennifer</value>
              <value>Fraser, Danielle</value>
              <value>Fredericks, Maria</value>
              <value>Gadomsky, Tessa</value>
              <value>Glaser, Greta</value>
              <value>Greek, Ashley</value>
              <value>Green, Marlan</value>
              <value>Haley, Alan</value>
              <value>Hamburg, Doris</value>
              <value>Haude, Mary "Betsy"</value>
              <value>Hemmenway, Dana</value>
              <value>Husby, Scott</value>
              <value>Iklé, Geneva</value>
              <value>Immediata, Annie</value>
              <value>Jang, Eunji</value>
              <value>Joyner, Chloe</value>
              <value>Karnes, Cyntia</value>
              <value>Keister, Megan</value>
              <value>Kelly, Katherine</value>
              <value>Khan, Yasmeen</value>
              <value>Kidder, Lynn</value>
              <value>Kinsky, Bailey</value>
              <value>Kitamura, Mari</value>
              <value>Knight, Evan</value>
              <value>Krueger, Holly</value>
              <value>Lev-Alexander, Nancy</value>
              <value>Lewis, Jennifer</value>
              <value>Long, Zachary</value>
              <value>Lundgren, Adrienne</value>
              <value>Magee, Cathie</value>
              <value>Maliga, Natalia</value>
              <value>McNeal, Carrie</value>
              <value>Moberg, Lisa</value>
              <value>Morrison-Danzis, Kate</value>
              <value>Nalaskowska, Marta</value>
              <value>Nugent, Maria</value>
              <value>Oey, Mary</value>
              <value>Ohanyan, Tamara</value>
              <value>Paterson, Dan</value>
              <value>Peckham, Susan</value>
              <value>Provino, Justine</value>
              <value>Robb, Andrew</value>
              <value>Smith, Shelly</value>
              <value>Song, Minah</value>
              <value>Spitzmueller, Pamela</value>
              <value>Stiber-Morenus, Linda</value>
              <value>Takeuchi, Masumi</value>
              <value>Teringo, Dorothy</value>
              <value>Terry, E</value>
              <value>Thurn, James</value>
              <value>Tichner, Karen</value>
              <value>Valero, Claire</value>
              <value>Walters, Grace</value>
              <value>Wanser, Heather</value>
              <value>Watson, Mary Elizabeth</value>
              <value>Wetzel, Rachel</value>
              <value>Williams, Emily</value>
              <value>Zastrow, Anna</value>
              <text/>
              <empty/>
            </choice>
          </attribute>
          <optional>
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">LoC specific
              data</documentation>
            <attribute name="projectName">
              <choice>
                <text/>
                <empty/>
              </choice>
            </attribute>
          </optional>
          <element name="documentation">
            <attribute name="reportDate">
              <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
                <text xmlns="http://relaxng.org/ns/structure/1.0">LoC Format: YYYY</text>
              </documentation>
              <choice>
                <data type="date"/>
                <data type="gYear"/>
                <text/>
                <empty/>
              </choice>
            </attribute>
            <element name="document">
              <attribute name="type">
                <choice>
                  <value>text</value>
                  <value>image</value>
                  <value>video</value>
                </choice>
              </attribute>
              <attribute name="subtype">
                <choice>
                  <value>Administrative</value>
                  <value>Housing</value>
                  <value>Overhead</value>
                  <value>Preventive</value>
                  <value>Rehousing</value>
                  <value>Survey</value>
                  <value>Treatment</value>
                  <element name="other">
                    <text/>
                  </element>
                  <empty/>
                </choice>
              </attribute>
              <zeroOrMore>
                <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Not
                  necessary for LoC data</documentation>
                <element name="filename">
                  <text/>
                </element>
              </zeroOrMore>
              <element name="description">
                <oneOrMore>
                  <element name="binding">
                    <optional>
                      <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">In
                        case of more than one binding, indicate the number here</documentation>
                      <attribute name="n">
                        <data type="integer"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="dating">
                        <text/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="origin">
                        <text/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="format">
                        <choice>
                          <value>NK</value>
                          <value>Fol.</value>
                          <value>4°</value>
                          <value>8°</value>
                          <value>12°</value>
                          <value>16°</value>
                          <value>32°</value>
                          <value>64°</value>
                          <value>other</value>
                        </choice>
                      </attribute>
                    </optional>
                    <optional>
                      <element name="dimensions">
                        <optional>
                          <attribute name="measurementUnit">
                            <choice>
                              <value>mm</value>
                            </choice>
                          </attribute>
                        </optional>
                        <choice>
                          <value>NK</value>
                          <group>
                            <element name="height">
                              <data type="integer"/>
                            </element>
                            <element name="width">
                              <data type="integer"/>
                            </element>
                            <element name="thickness">
                              <data type="integer"/>
                            </element>
                          </group>
                        </choice>
                      </element>
                    </optional>
                    <element name="textblock">
                      <optional>
                        <element name="collationFormula">
                          <text/>
                        </element>
                      </optional>
                      <optional>
                        <element name="numberOfPages">
                          <attribute name="unit">
                            <choice>
                              <value>NK</value>
                              <value>leaf/foliation</value>
                              <value>page/pagination</value>
                            </choice>
                          </attribute>
                          <choice>
                            <data type="integer"/>
                            <text/>
                          </choice>
                        </element>
                      </optional>
                      <optional>
                        <element name="gatherings">
                          <element name="gatheringFormation">
                            <choice>
                              <value>NK</value>
                              <value>regular</value>
                              <value>irregular</value>
                            </choice>
                          </element>
                        </element>
                      </optional>
                      <zeroOrMore>
                        <element name="materials">
                          <ref name="materials"/>
                        </element>
                      </zeroOrMore>
                    </element>
                    <element name="endleaves">
                      <oneOrMore>
                        <element name="endleaves">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                            >describe either the endleaf group or the single
                            components</documentation>
                          <choice>
                            <oneOrMore>
                              <oneOrMore>
                                <ref name="endleafComponents"/>
                              </oneOrMore>
                              <oneOrMore>
                                <ref name="materials"/>
                              </oneOrMore>
                            </oneOrMore>
                            <group>
                              <ref name="presence"/>
                              <optional>
                                <oneOrMore>
                                  <ref name="materials"/>
                                </oneOrMore>
                              </optional>
                            </group>
                          </choice>
                        </element>
                        <!-- SHOULD WE BE ABLE TO DESCIBE THE ENDLEAVES IN DETAIL? SOME RECORDS HAVE PRECISE DATA -->
                      </oneOrMore>
                    </element>
                    <element name="boards">
                      <oneOrMore>
                        <element name="board">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <choice>
                            <group>
                              <optional>
                                <element name="type">
                                  <choice>
                                    <value>NK</value>
                                    <value>pasteboard</value>
                                    <value>single</value>
                                    <value>laminated</value>
                                  </choice>
                                </element>
                              </optional>
                              <optional>
                                <ref name="construction"/>
                              </optional>
                              <zeroOrMore>
                                <ref name="materials"/>
                              </zeroOrMore>
                            </group>
                            <group>
                              <ref name="presence"/>
                              <optional>
                                <oneOrMore>
                                  <ref name="materials"/>
                                </oneOrMore>
                              </optional>
                            </group>
                          </choice>
                        </element>
                      </oneOrMore>
                      <element name="boardAttachment">
                        <choice>
                          <zeroOrMore>
                            <element name="technique">
                              <choice>
                                <value>NK</value>
                                <value>board sewing</value>
                                <value>slip lacing</value>
                              </choice>
                            </element>
                          </zeroOrMore>
                          <zeroOrMore>
                            <ref name="construction"/>
                          </zeroOrMore>
                        </choice>
                      </element>
                    </element>
                    <element name="sewing">
                      <oneOrMore>
                        <element name="sewingSupports">
                          <optional>
                            <attribute name="n">
                              <choice>
                                <documentation
                                  xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">The
                                  value of the attribute @n indicates if something is referring to
                                  certain sewing supports or applies to 'all'. Default value is
                                  'all'. Use commas to separate values in lists: e.g. 1, 3,
                                  5</documentation>
                                <value>all</value>
                                <text/>
                              </choice>
                            </attribute>
                          </optional>
                          <element name="numberOfSupports">
                            <choice>
                              <value>NK</value>
                              <data type="integer"/>
                            </choice>
                          </element>
                          <element name="type">
                            <choice>
                              <value>NK</value>
                              <value>flat</value>
                              <value>strap</value>
                              <value>split-strap</value>
                              <value>twisted</value>
                              <value>laminated</value>
                              <value>folded</value>
                              <value>rolled</value>
                              <!-- ADDED -->
                              <value>thongs</value>
                              <element name="other">
                                <text/>
                              </element>
                            </choice>
                          </element>
                          <oneOrMore>
                            <ref name="materials"/>
                          </oneOrMore>
                          <element name="position">
                            <choice>
                              <value>NK</value>
                              <value>raised</value>
                              <value>recessed</value>
                              <value>external</value>
                              <value>sawn-in</value>
                            </choice>
                          </element>
                          <element name="formation">
                            <choice>
                              <value>NK</value>
                              <value>single</value>
                              <value>double</value>
                              <element name="other">
                                <text/>
                              </element>
                            </choice>
                          </element>
                        </element>
                      </oneOrMore>
                      <element name="spineFoldPreparation">
                        <choice>
                          <value>NK</value>
                          <value>piercedHole</value>
                          <value>knifeCut</value>
                          <value>vNick</value>
                        </choice>
                      </element>
                      <element name="sewingTechnique">
                        <choice>
                          <value>NK</value>
                          <value>all-along</value>
                          <value>abbreviated</value>
                          <value>overcasting</value>
                          <value>two-on</value>
                          <value>'herring bone'</value>
                          <element name="other">
                            <text/>
                          </element>
                        </choice>
                      </element>
                    </element>
                    <element name="edges">
                      <element name="formation">
                        <choice>
                          <value>NK</value>
                          <value>uncut</value>
                          <value>trimmed</value>
                          <value>cut</value>
                          <element name="other">
                            <text/>
                          </element>
                        </choice>
                      </element>
                      <optional>
                        <element name="decoration">
                          <element name="type">
                            <choice>
                              <value>NK</value>
                              <value>plain</value>
                              <value>Edge Coloring</value>
                              <value>Fore-Edge Painting</value>
                              <element name="other">
                                <text/>
                              </element>
                            </choice>
                          </element>
                          <optional>
                            <ref name="colours"/>
                          </optional>
                        </element>
                      </optional>
                    </element>
                    <element name="spine">
                      <oneOrMore>
                        <element name="spineLining">
                          <optional>
                            <attribute name="n">
                              <data type="integer"/>
                            </attribute>
                          </optional>
                          <choice>
                            <group>
                              <element name="type">
                                <choice>
                                  <value>NK</value>
                                  <value>panel</value>
                                  <!-- ADD VALUES -->
                                  <value>tube hollow</value>
                                </choice>
                              </element>
                              <optional>
                                <oneOrMore>
                                  <ref name="materials"/>
                                </oneOrMore>
                              </optional>
                            </group>
                            <ref name="presence"/>
                          </choice>
                        </element>
                      </oneOrMore>
                      <optional>
                        <element name="adhesiveLayer">
                          <element name="materials">
                            <ref name="materials"/>
                          </element>
                        </element>
                      </optional>
                      <optional>
                        <element name="spineShape">
                          <choice>
                            <value>slight round</value>
                            <value>flat</value>
                            <value>round</value>
                          </choice>
                        </element>
                      </optional>
                      <optional>
                        <element name="backingJoints">
                          <choice>
                            <value>quadrant</value>
                            <value>slight</value>
                            <value>square</value>
                            <value>angled</value>
                          </choice>
                        </element>
                      </optional>
                      <optional>
                        <element name="spineFeatures">
                          <choice>
                            <value>NK</value>
                            <value>hollowBack</value>
                            <value>tightBack</value>
                          </choice>
                        </element>
                      </optional>
                    </element>
                    <element name="endbands">
                      <oneOrMore>
                        <element name="endband">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                            >describe either the endband or the single components</documentation>
                          <choice>
                            <zeroOrMore>
                              <ref name="construction"/>
                              <optional>
                                <element name="tieDownSpecification">
                                  <choice>
                                    <value>frequent</value>
                                    <value>infrequent</value>
                                    <value>all</value>
                                  </choice>
                                </element>
                              </optional>
                            </zeroOrMore>
                            <group>
                              <ref name="presence"/>
                              <optional>
                                <oneOrMore>
                                  <ref name="materials"/>
                                </oneOrMore>
                              </optional>
                            </group>
                          </choice>
                          <optional>
                            <ref name="colours"/>
                          </optional>
                        </element>
                      </oneOrMore>
                    </element>
                    <element name="cover">
                      <optional>
                        <element name="type">
                          <choice>
                            <value>case</value>
                            <value>in board</value>
                            <element name="other">
                              <text/>
                            </element>
                          </choice>
                        </element>
                      </optional>
                      <element name="coverExtent">
                        <choice>
                          <value>NK</value>
                          <value>full</value>
                          <value>half</value>
                          <value>quarter</value>
                        </choice>
                      </element>
                      <element name="coverMaterials">
                        <oneOrMore>
                          <ref name="materials"/>
                        </oneOrMore>
                      </element>
                      <zeroOrMore>
                        <element name="decoration">
                          <element name="type">
                            <choice>
                              <value>NK</value>
                              <value>tooling</value>
                              <value>stamping</value>
                            </choice>
                          </element>
                          <element name="decorationSpecification">
                            <choice>
                              <value>NK</value>
                              <value>blind</value>
                              <value>gold</value>
                            </choice>
                          </element>
                          <optional>
                            <ref name="places"/>
                          </optional>
                        </element>
                      </zeroOrMore>
                      <optional>
                        <element name="furniture">
                          <choice>
                            <group>
                              <zeroOrMore>
                                <element name="component">
                                  <element name="type">
                                    <choice>
                                      <value>NK</value>
                                      <value>corner plates</value>
                                      <value>bosses</value>
                                      <value>nails</value>
                                      <value>catches</value>
                                      <value>straps</value>
                                      <value>clasps</value>
                                      <value>catchplates</value>
                                    </choice>
                                  </element>
                                  <optional>
                                    <ref name="materials"/>
                                  </optional>
                                  <optional>
                                    <ref name="places"/>
                                  </optional>
                                </element>
                              </zeroOrMore>
                            </group>
                            <ref name="presence"/>
                          </choice>
                        </element>
                      </optional>
                      <optional>
                        <element name="falseRaisedBands">
                          <ref name="presence"/>
                        </element>
                      </optional>
                    </element>
                  </element>
                </oneOrMore>
              </element>
              <element name="condition">
                <oneOrMore>
                  <element name="binding">
                    <optional>
                      <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">In
                        case of more than one binding, indicate the number here</documentation>
                      <attribute name="n">
                        <data type="integer"/>
                      </attribute>
                    </optional>
                    <element name="previousRepair">
                      <optional>
                        <attribute name="date">
                          <data type="gYear"/>
                        </attribute>
                      </optional>
                      <choice>
                        <value>NK</value>
                        <value>yes</value>
                        <value>no</value>
                      </choice>
                    </element>
                    <element name="textblock">
                      <ref name="conditions"/>
                    </element>
                    <element name="endleaves">
                      <oneOrMore>
                        <element name="endleaves">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                            >describe either the endleaf group or the single
                            components</documentation>
                          <choice>
                            <ref name="conditions"/>
                          </choice>
                        </element>
                      </oneOrMore>
                    </element>
                    <element name="boards">
                      <oneOrMore>
                        <element name="board">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <ref name="conditions"/>
                          <element name="boardAttachment">
                            <ref name="conditions"/>
                          </element>
                        </element>
                      </oneOrMore>
                    </element>
                    <element name="sewing">
                      <optional>
                        <element name="sewingSupports">
                          <optional>
                            <attribute name="n">
                              <choice>
                                <documentation
                                  xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">The
                                  value of the attribute @n indicates if something is referring to
                                  certain sewing supports or applies to 'all'. Default value is
                                  'all'. Use commas to separate values in lists: e.g. 1, 3,
                                  5</documentation>
                                <value>all</value>
                                <text/>
                              </choice>
                            </attribute>
                          </optional>
                          <ref name="conditions"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="sewingStructure">
                          <ref name="conditions"/>
                        </element>
                      </optional>
                    </element>
                    <element name="spine">
                      <zeroOrMore>
                        <element name="spineLining">
                          <optional>
                            <attribute name="n">
                              <data type="integer"/>
                            </attribute>
                          </optional>
                          <ref name="conditions"/>
                        </element>
                      </zeroOrMore>
                      <optional>
                        <element name="adhesiveLayer">
                          <ref name="conditions"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="spineShape">
                          <ref name="conditions"/>
                        </element>
                      </optional>
                    </element>
                    <element name="endbands">
                      <zeroOrMore>
                        <element name="endband">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <choice>
                            <oneOrMore>
                              <ref name="endbandComponents"/>
                              <ref name="conditions"/>
                            </oneOrMore>
                            <ref name="conditions"/>
                          </choice>
                        </element>
                      </zeroOrMore>
                    </element>
                    <element name="cover">
                      <choice>
                        <ref name="conditions"/>
                        <group>
                          <oneOrMore>
                            <documentation
                              xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Indicate
                              if left side, right side, spine</documentation>
                            <element name="section">
                              <attribute name="place">
                                <ref name="placeValues"/>
                              </attribute>
                              <ref name="conditions"/>
                            </element>
                          </oneOrMore>
                        </group>
                      </choice>
                    </element>
                  </element>
                </oneOrMore>
              </element>
              <element name="treatment">
                <oneOrMore>
                  <element name="binding">
                    <optional>
                      <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">In
                        case of more than one binding, indicate the number here</documentation>
                      <attribute name="n">
                        <data type="integer"/>
                      </attribute>
                    </optional>
                    <optional>
                      <element name="textblock">
                        <ref name="treatments"/>
                      </element>
                    </optional>
                    <optional>
                      <element name="endleaves">
                        <oneOrMore>
                          <element name="endleaves">
                            <attribute name="place">
                              <ref name="placeValues"/>
                            </attribute>
                            <documentation
                              xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">describe
                              either the endleaf group or the single components</documentation>
                            <choice>
                              <ref name="treatments"/>
                            </choice>
                          </element>
                        </oneOrMore>
                      </element>
                    </optional>
                    <optional>
                      <element name="boards">
                        <oneOrMore>
                          <element name="board">
                            <attribute name="place">
                              <ref name="placeValues"/>
                            </attribute>
                            <optional>
                              <ref name="treatments"/>
                            </optional>
                            <optional>
                              <element name="boardAttachment">
                                <ref name="treatments"/>
                              </element>
                            </optional>
                          </element>
                        </oneOrMore>
                      </element>
                    </optional>
                    <optional>
                      <element name="sewing">
                        <optional>
                          <element name="sewingSupports">
                            <optional>
                              <attribute name="n">
                                <choice>
                                  <documentation
                                    xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">The
                                    value of the attribute @n indicates if something is referring to
                                    certain sewing supports or applies to 'all'. Default value is
                                    'all'. Use commas to separate values in lists: e.g. 1, 3,
                                    5</documentation>
                                  <value>all</value>
                                  <text/>
                                </choice>
                              </attribute>
                            </optional>
                            <ref name="treatments"/>
                          </element>
                        </optional>
                        <optional>
                          <element name="sewingStructure">
                            <ref name="treatments"/>
                          </element>
                        </optional>
                      </element>
                    </optional>
                    <optional>
                      <element name="spine">
                        <optional>
                          <element name="spine">
                            <ref name="treatments"/>
                          </element>
                        </optional>
                        <zeroOrMore>
                          <element name="spineLining">
                            <optional>
                              <attribute name="n">
                                <data type="integer"/>
                              </attribute>
                            </optional>
                            <ref name="treatments"/>
                          </element>
                        </zeroOrMore>
                        <optional>
                          <element name="adhesiveLayer">
                            <ref name="treatments"/>
                          </element>
                        </optional>
                        <optional>
                          <!-- CHECK IF ACTUALLY USED IN THE RECORDS -->
                          <element name="spineShape">
                            <ref name="treatments"/>
                          </element>
                        </optional>
                      </element>
                    </optional>
                    <optional>
                      <element name="endbands">
                        <oneOrMore>
                          <element name="endband">
                            <attribute name="place">
                              <ref name="placeValues"/>
                            </attribute>
                            <choice>
                              <oneOrMore>
                                <ref name="endbandComponents"/>
                                <ref name="treatments"/>
                              </oneOrMore>
                              <ref name="treatments"/>
                            </choice>
                          </element>
                        </oneOrMore>
                      </element>
                    </optional>
                    <optional>
                      <element name="cover">
                        <choice>
                          <ref name="treatments"/>
                          <group>
                            <documentation
                              xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Indicate
                              if left side, right side, spine</documentation>
                            <oneOrMore>
                              <element name="section">
                                <attribute name="place">
                                  <ref name="placeValues"/>
                                </attribute>
                                <ref name="treatments"/>
                              </element>
                            </oneOrMore>
                          </group>
                        </choice>
                      </element>
                    </optional>
                  </element>
                </oneOrMore>
                <zeroOrMore>
                  <element name="protection">
                    <optional>
                      <choice>
                        <element name="encasing">
                          <interleave>
                            <ref name="conservationMaterials"/>
                            <ref name="places"/>
                            <element name="component">
                              <ref name="components"/>
                            </element>
                          </interleave>
                        </element>
                        <element name="housing">
                          <choice>
                            <element name="box">
                              <choice>
                                <value>phase box</value>
                                <value>kase-make box</value>
                              </choice>
                            </element>
                            <element name="other">
                              <text/>
                            </element>
                          </choice>
                        </element>
                        <element name="other">
                          <text/>
                        </element>
                      </choice>
                    </optional>
                  </element>
                </zeroOrMore>
              </element>
              <zeroOrMore>
                <element name="notes">
                  <attribute name="type">
                    <choice>
                      <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">the
                        value 'documentation' is used to copy notes from the reports</documentation>
                      <value>documentation</value>
                      <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">the
                        value 'modelling' is used to notify modelling issues</documentation>
                      <value>modelling</value>
                    </choice>
                  </attribute>
                  <text/>
                </element>
              </zeroOrMore>
            </element>
          </element>
        </element>
      </element>
    </element>
  </start>
  <define name="presence">
    <element name="presence">
      <choice>
        <value>NK</value>
        <value>yes</value>
        <value>no</value>
      </choice>
    </element>
  </define>
  <define name="treatment">
    <optional>
      <oneOrMore>
        <optional>
          <ref name="techniques"/>
        </optional>
        <optional>
          <oneOrMore>
            <ref name="places"/>
          </oneOrMore>
        </optional>
        <optional>
          <element name="materials">
            <oneOrMore>
              <ref name="conservationMaterials"/>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <oneOrMore>
            <ref name="conservationTools"/>
          </oneOrMore>
        </optional>
        <optional>
          <ref name="construction"/>
        </optional>
        <optional>
          <ref name="extent"/>
        </optional>
      </oneOrMore>
    </optional>
  </define>
  <define name="treatments">
    <oneOrMore>
      <choice>
        <element name="removal">
          <optional>
            <attribute name="type">
              <choice>
                <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                  >"temporary" indicates temporary removal during/for conservation
                  treatments</documentation>
                <value>temporary</value>
                <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                  >"permanent" indicates permanent removal from the object. This is the default
                  value.</documentation>
                <value>permanent</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <element name="component">
              <optional>
                <attribute name="n">
                  <data type="integer"/>
                </attribute>
              </optional>
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="reinforcement">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="repair">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="preparation">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="reattachment">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="finishing">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="new">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
          <optional>
            <element name="type">
              <choice>
                <value>quarter binding</value>
              </choice>
            </element>
          </optional>
        </element>
        <element name="cleaning">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
      </choice>
    </oneOrMore>
  </define>
  <define name="condition">
    <element name="conditionValues">
      <choice>
        <value>NK</value>
        <element name="good">
          <choice>
            <value>sound</value>
            <value>attached</value>
            <value>good</value>
            <value>intact</value>
            <value>firm</value>
          </choice>
        </element>
        <element name="atRisk">
          <choice>
            <value>weak</value>
            <value>loose</value>
            <value>brittle</value>
            <value>fragile</value>
            <value>worn</value>
            <value>friable</value>
            <value>tearing</value>
            <value>creasing</value>
            <value>damaged</value>
            <value>dry</value>
            <value>scuffed</value>
            <value>foxing</value>
            <value>staining</value>
            <value>discoloration</value>
            <value>degraded</value>
            <value>pitted</value>
            <value>cockling</value>
            <value>distortion</value>
            <value>tattered</value>
            <value>lifted</value>
            <value>yellowing</value>
            <value>rigid</value>
            <value>tight</value>
            <value>unravelling</value>
            <value>decayed</value>
            <value>soft</value>
            <value>cracked</value>
            <value>powdery</value>
            <value>pleating</value>
            <value>bowing</value>
            <value>mold</value>
          </choice>
        </element>
        <element name="broken">
          <choice>
            <value>broken</value>
            <value>fragmentary</value>
            <value>detached</value>
            <value>losses</value>
            <value>splitting</value>
            <value>damaged</value>
          </choice>
        </element>
        <element name="missing">
          <choice>
            <value>missing</value>
            <value>lost</value>
          </choice>
        </element>
        <element name="previouslyRepaired">
          <choice>
            <value>rebacked</value>
            <value>repaired</value>
            <value>rehitched</value>
          </choice>
        </element>
        <element name="other">
          <text/>
        </element>
      </choice>
    </element>
    <zeroOrMore>
      <element name="conditionSpecification">
        <choice>
          <value>NK</value>
          <value>almost</value>
          <value>damp</value>
          <value>water</value>
          <value>acidic ink</value>
          <value>severe</value>
          <value>partially</value>
          <value>slightly</value>
          <value>minor</value>
          <value>badly</value>
          <value>insects</value>
          <value>worms</value>
          <value>mostly</value>
        </choice>
      </element>
    </zeroOrMore>
  </define>
  <define name="conditions">
    <oneOrMore>
      <element name="condition">
        <ref name="condition"/>
        <optional>
          <ref name="places"/>
        </optional>
        <optional>
          <element name="component">
            <ref name="components"/>
          </element>
        </optional>
        <optional>
          <ref name="materials"/>
        </optional>
        <optional>
          <ref name="extent"/>
        </optional>
      </element>
    </oneOrMore>
  </define>
  <define name="places">
    <zeroOrMore>
      <element name="compositePlace">
        <oneOrMore>
          <element name="place">
            <ref name="placeValues"/>
          </element>
        </oneOrMore>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="place">
        <ref name="placeValues"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="placeValues">
    <choice>
      <value>spine</value>
      <value>edges</value>
      <value>outer</value>
      <value>joint</value>
      <value>inner</value>
      <!--<value>head</value>
      <value>tail</value>
      <value>fore-edge</value>
      <value>fold</value>
      <value>corner</value>
      <value>borders</value>
      <value>fleshside</value>
      <value>hairside</value>
      <value>joint</value>
      <value>left</value>
      <value>right</value>
      <value>outer</value>
      <value>inner</value>
      <value>sides</value>
      <value>spine</value>
      <value>squares</value>
      <value>outside</value>
      <value>inside</value>
      <value>edges</value>
      <!-\- ADDED -\->
      <value>sewing stations</value>
      <value>sewing supports</value>
      <value>change-over stations</value>
      <value>turn-in</value>
      <value>slot (board slotting)</value>
      <value>fly-leaves</value>
      <value>first few leaves</value>
      <value>last few leaves</value>
      <value>boards</value>
      <value>braids</value>
      <value>around</value>
      <value>spine panel</value>
      <value>shoulder</value>
      <value>centre</value>
      <value>tie-downs</value>
      <value>endbands</value>
      <value>middle</value>
      <value>spine label</value>
      <value>spine fold</value>
      <value>panels</value>
      <value>endleaves</value>
      <value>caps</value>
      <value>verso</value>
      <value>recto</value>
      <value>entry holes</value>
      <value>bands</value>
      <value>kettles</value>
      <value>cracks</value>
      <value>pleats</value>
      <value>first few quires</value>
      <value>last few quires</value>-->
      <element name="other">
        <text/>
      </element>
    </choice>
  </define>
  <define name="conservationMaterials">
    <oneOrMore>
      <group>
        <element name="material">
          <optional>
            <attribute name="adhesive">
              <choice>
                <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Default value is no</documentation>
                <value>yes</value>
                <value>no</value>
              </choice>
            </attribute>
          </optional>
          <choice>
            <value>NK</value>
            <value>Acrylic paint</value>
            <value>Agarose Gel</value>
            <value>Alum Tawed Skin</value>
            <value>Ammonium Hydroxide</value>
            <value>Asian Paper</value>
            <!--<value>BASF leather dye</value>-->
            <value>Berlin Tissue</value>
            <!--<value>Binder's board</value>-->
            <value>Calcium Hydroxide</value>
            <value>Calcium Phytate</value>
            <value>Cast Acrylic </value>
            <!--<value>Cast Pulp Paper</value>-->
            <value>Chalk Pencils</value>
            <value>Colored Pencils</value>
            <value>Ethanol</value>
            <value>Gelatin</value>
            <value>Gellan gum</value>
            <!--<value>Handmade Western Paper</value>-->
            <value>Hydrogen Peroxide</value>
            <value>Leather</value>
            <!--<value>Linen Thread</value>-->
            <!--<value>Machine Made Western Paper</value>-->
            <value>Magnesium Bicarbonate</value>
            <value>Magnesium Hydroxide</value>
            <value>Parchment</value>
            <value>Pastel</value>
            <value>Remoistenable Tissue</value>
            <!--<value>RK Paper</value>-->
            <!--<value>SC6000</value>-->
            <!--<value>Silk Thread</value>-->
            <value>Textile</value>
            <value>Water</value>
            <value>Watercolor</value>
            <value>Xylene</value>
            <!-- Added for better mapping -->
            <value>dyes</value>
            <value>boards</value>
            <value>paper</value>
            <value>thread</value>
            
            <!-- LoC Adhesives -->
            <!--<value>Aquazol</value>-->
            <!--<value>Avanse/Plextol</value>-->
            <!--<value>B-72</value>-->
            <!--<value>Beva</value>-->
            <value>Funori</value>
            <value>Gelatin</value>
            <value>Heat set tissue</value>
            <!--<value>Hide Glue</value>-->
            <value>Isinglass</value>
            <!--<value>Klucel G</value>-->
            <!--<value>Klucel M</value>-->
            <!--<value>Lascaux 303</value>-->
            <!--<value>Lascaux 498</value>-->
            <value>Methylcellulose</value>
            <value>PVA</value>
            <!--<value>Rabbit Skin Glue</value>-->
            <!--<value>Rhoplex</value>-->
            <value>Rice Starch Paste</value>
            <value>Wheat Starch Paste</value>
            <!-- Added for better mapping -->
            <value>water soluble polyoxazoline compounds</value>
            <value>acrylic resins</value>
            <value>acrylic adhesives</value>
            <value>acrylic emulsions</value>
            <value>glue</value>
            <value>hydroxypropyl cellulose</value>
            <!-- solutions -->
            <ref name="solutions"/>
            <element name="other">
              <text/>
            </element>
            <!-- Values not used by LoC data -->            
            <!--<value>paper</value>
            <value>parchment</value>
            <value>tannedSkin</value>
            <value>tawedSkin</value>
            <value>cloth</value>
            <value>cord</value>
            <value>wood</value>
            <value>mull</value>
            <value>glue</value>
            <value>wheat starch paste</value>
            <value>cloth</value>
            <value>gold beater skin</value>
            <value>gelatine</value>
            <!-\- Japanese paper often called tissue -\->
            <value>Japanese paper</value>
            <value>poultice</value>
            <value>thread</value>
            <value>manilla paper</value>
            <value>kraft paper</value>
            <value>adhesive</value>
            <value>EVA</value>
            <value>PVA</value>
            <value>cords</value>
            <value>braids</value>
            <value>leather dressing</value>
            <!-\- ADD CONSERVATION MATERIALS -\->
            <value>acrylic polymer and wax emulsion</value>
            <value>aluminium alkoxide</value>
            <value>magnesium bicarbonate</value>
            <value>methyl magnesium carbonate</value>
            <value>mill board</value>
            <value>board fibres</value>
            <value>wheat flour paste</value>
            <value>methyl cellulose</value>
            <value>tape</value>
            <value>metal</value>
            <value>paste</value>
            <value>hydroxypropyl cellulose</value>
            <value>polyester film</value>
            <value>purified water (Reverse Osmosis)</value>
            <value>dye</value>
            <value>fish swim bladder</value>
            <value>stain</value>
            <value>micro-crystalline wax</value>
            <value>dye</value>
            <value>wax</value>
            <value>board</value>
            <value>fibres</value>-->
          </choice>
        </element>
        <optional>
          <oneOrMore>
            <element name="materialSpecification">
              <choice>
                <value>Binder's board</value>
                <value>cast pulp</value>
                <value>handmade</value>
                <value>Western</value>
                <value>linen</value>
                <value>machine-made</value>
                <value>silk</value>
                <value>hide</value>
                <value>rabbit skin</value>
                
                <!-- Not used for LoC data -->
                <!--<value>dyed</value>
                <value>undyed</value>
                <value>natural</value>
                <value>thin</value>
                <value>thick</value>
                <value>toned</value>
                <value>archival</value>
                <value>animal</value>
                <value>linen</value>
                <value>cotton</value>
                <value>acrylic</value>
                <value>calf</value>
                <value>goat</value>
                <value>sheep</value>
                <value>oak bark (tanning)</value>
                <value>tengujo</value>
                <value>usumino</value>
                <value>vegetable tanning</value>
                <value>tinted</value>
                <value>brass</value>
                <value>heavy</value>
                <value>light</value>
                <value>medium</value>
                <value>light/medium</value>
                <value>aero linen</value>
                <value>aero cotton</value>
                <value>unbleached</value>
                <value>repair</value>
                <value>washed</value>
                <value>medium weight</value>
                <value>stained</value>
                <value>dark brown</value>
                <value>light brown</value>
                <value>olive (stain)</value>
                <value>indigo</value>
                <value>bees</value>
                <value>beech</value>
                <value>pearl</value>
                <value>mount</value>
                <value>rabbit skin</value>
                <value>hand-made</value>
                <value>metal complex</value>
                <value>dilute</value>
                <value>machine-made</value>-->
              </choice>
            </element>
          </oneOrMore>
        </optional>
        <optional>
          <element name="materialCommercialName">
            <choice>
              <value>BASF leather dye</value>
              <value>RK Paper</value>
              <value>SC6000</value>
              <value>Aquazol</value>
              <value>Avanse/Plextol</value>
              <value>B-72</value>
              <value>Beva</value>
              <value>Klucel G</value>
              <value>Klucel M</value>
              <value>Lascaux 303</value>
              <value>Lascaux 498</value>
              <value>Rhoplex</value>
              
              <!-- Not used for LoC data -->
              <!--<value>RK17</value>
              <value>Lascaux?</value>
              <value>Hasegawa</value>
              <value>SC6000</value>
              <value>RTRC50?</value>
              <value>Bodleian</value>
              <value>Atlantis H.m.</value>
              <value>Lawrence no. 2</value>
              <value>Lawrence 15</value>
              <value>Kalamazoo</value>
              <value>K63</value>
              <value>K35</value>
              <value>K62</value>
              <value>Bakers</value>
              <value>Klucel G</value>
              <value>Melinex®</value>
              <value>Sandoz</value>
              <value>Cowley</value>
              <value>Sekisho Yokokawa (K42)</value>
              <value>Jap 39 dark tissue</value>
              <value>Blanose</value>
              <value>K34</value>
              <value>K37</value>
              <value>Juko Misakawa</value>
              <value>Barbour Campbell 1313</value>
              <value>Barbour Campbell</value>
              <value>Barbour</value>
              <value>Melio Supronil</value>
              <value>Relcasol</value>
              <value>Renaissance</value>
              <value>CC</value>
              <value>Barbour 2613</value>
              <value>Moulin du Verger (AMV1H)</value>
              <value>Hasegawa 3.0</value>
              <value>Paper Nao (RK17)</value>-->
            </choice>
          </element>
        </optional>
        <optional>
          <element name="materialMeasurement">
            <ref name="measurements"/>
          </element>
        </optional>
      </group>
    </oneOrMore>
  </define>
  <define name="materials">
    <element name="material">
      <optional>
        <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">LoC data: to map media materials</documentation>
        <attribute name="type">
          <choice>
            <value>media</value>
          </choice>
        </attribute>
      </optional>
      <choice>
        <value>NK</value>
        <value>Board</value>
        <value>Paper</value>
        <value>Parchment</value>
        <value>Textile</value>
        <value>Vellum</value>
        <value>Alum Tawed Skin</value>
        <value>Bookcloth</value>
        <value>Leather</value>
        <value>Shagreen</value>
        <value>Silk</value>
        <value>Suede</value>
        <value>Velvet</value>
        <value>Amatl</value>
        <value>Asian paper</value>
        <value>Newsprint</value>
        <value>Paperboard</value>
        <value>Papyrus</value>
        <!-- Media materials -->
        <value>Ballpoint Pen</value>
        <value>Colored Pencil </value>
        <value>Engraving</value>
        <value>Etching</value>
        <value>Felt Tipped Pen</value>
        <value>Gold</value>
        <value>Gouache</value>
        <value>Graphite</value>
        <value>Lithograph</value>
        <value>Paint/Pigment</value>
        <value>Watercolor</value>
        <value>Woodblock</value>
        <!-- ADDED -->
        <value>Ink</value>
        <value>Wood</value>
        <!-- LoC Materials to be remapped -->
        <!-- Remapped -->        
        <!--<value>Edge Coloring</value>-->
        <!--<value>Fore-Edge Painting</value>-->
        <!--<value>Blind tooling</value>-->
        <!--<value>Gold stamping</value>-->
        <!--<value>Gold tooling</value>-->
        <!--<value>Leather (Calf) </value>-->
        <!--<value>Leather (Goat)</value>-->
        <!--<value>Leather (Sheep)</value>-->
        <!--<value>Binder's Boards</value>-->
        <!--<value>Wooden Boards</value>-->
        <!--<value>Chain</value>-->
        <!--<value>Clasps</value>-->
        <!--<value>Handmade Paper</value>-->
        <!--<value>Laid Paper</value>-->
        <!--<value>Machine Made Paper</value>-->
        <!--<value>Wove Paper</value>-->
        
        <!-- LoC Media materials to be remapped -->        
        <!--<value>Ink (Other)</value>-->
        <!--<value>Iron Gall Ink</value>-->
        <!--<value>Mimeograph Ink</value>-->
        <!--<value>Printer's Ink</value>-->
        <!--<value>Typewriter Ink</value>-->
        <element name="other">
          <text/>
        </element>
        <!-- Removed from Bodleian schema for LoC -->        
        <!--<value>cloth</value>
        <value>cord</value>
        <value>wood</value>
        <value>mull</value>
        <value>glue</value>
        <value>metal</value>
        <value>kraft paper</value>-->
      </choice>
    </element>
    <optional>
      <oneOrMore>
        <element name="materialSpecification">
          <optional>
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Attribute for LoC data stored in <Other/>; default value is no</documentation>
            <attribute name="other">
              <choice>
                <value>yes</value>
                <value>no</value>
              </choice>
            </attribute>
          </optional>
          <choice>
            <value>calf</value>
            <value>goat</value>
            <value>sheep</value>
            <value>machine-made</value>
            <value>handmade</value>
            <value>wove</value>
            <value>laid</value>
            <value>wooden</value>
            <!-- Modified from LoC -->
            <value>Binder's (boards)</value>   
            <!-- Media materials -->
            <value>Iron Gall Ink</value>
            <value>Mimeograph Ink</value>
            <value>Printer's Ink</value>
            <value>Typewriter Ink</value>
            <element name="other">
              <text/>
            </element>
            <!-- Removed from Bodleain schema for LoC -->
            <!--<value>thick</value>
            <value>thin</value>
            <value>animal</value>
            <value>hemp</value>
            <value>beech</value>
            <value>pink stained</value>
            <value>cordovan</value>
            <value>brass</value>-->
          </choice>
        </element>
      </oneOrMore>
    </optional>
  </define>
  <define name="techniques">
    <element name="technique">
      <choice>        
        <!-- LoC techniques -->
        <value>Alkalinization</value>
        <value>Bleaching/Stain Reduction</value>
        <value>cleaning</value>
        <value>Fills</value>
        <value>Fixing/ Consolidation</value>
        <value>Flattening</value>
        <value>Guarding</value>
        <value>Hinging</value>
        <value>Humidification</value>
        <value>Leafcasting</value>
        <value>Lining</value>
        <value>Mending</value>
        <value>Mold Remediation</value>
        <value>Sizing</value>
        <value>Washing</value>
        <value>consolidation</value>
        <value>board slotting</value>
        <value>slotting</value>
        <value>Resewing</value>
        <value>Disbinding</value>
        <value>readhere</value><!-- cover, covering material: atRisk/lifted -->
        <value>Rebacking</value>
        <value>Rebinding</value>
        <value>Recase</value>
        <value>Tooling</value>
        <!-- Bodleain values -->
        <!--<value>sewing</value>
        <value>oversewing</value>
        <value>pasting</value>
        <value>lining</value>
        <value>guarding</value>
        <value>slotting</value>
        <value>cutting</value>
        <value>lifting</value>
        <value>detaching</value>
        <value>repairing</value>
        <value>paring</value>
        <value>sanding</value>
        <value>paring/sanding</value>
        <value>reinforcing</value>
        <value>with poultice</value>
        <value>in the round</value>
        <value>folding</value>
        <value>brushing</value>
        <value>washing</value>
        <value>deacidifying</value>
        <value>dry</value>
        <value>lacing in</value>
        <value>humidification</value>
        <value>pinning</value>
        <!-\- ADD TECHNIQUES -\->
        <value>folding in half</value>
        <value>one on, one off</value>
        <value>with extensions</value>
        <value>with slots</value>
        <value>rebacking</value>
        <value>link-stitch</value>
        <value>rehitching</value>
        <value>bevelling</value>
        <value>rolling</value>
        <value>extending</value>
        <value>retanning</value>
        <value>rebuilding</value>
        <value>consolidation</value>
        <value>stabilization</value>
        <value>pulling</value>
        <value>sizing</value>
        <value>herring-bone stitch</value>
        <value>furbishing</value>
        <value>reattaching</value>
        <value>stitching</value>
        <value>in panels</value>
        <value>fraying</value>
        <value>rubbing</value>
        <value>infilling</value>
        <value>supporting</value>
        <value>tipping</value>
        <value>scraping</value>
        <value>cleaning</value>
        <value>inserting</value>
        <value>staining</value>
        <value>tying up</value>
        <value>dyeing</value>
        <value>glueing</value>
        <value>building up</value>
        <value>filling</value>
        <value>scarfing</value>-->
      </choice>
    </element>
    <zeroOrMore>
      <element name="techniqueSpecification">
        <choice>
          <value>dry</value>
          <!-- Bodleain values -->
          <!--<value>primary</value>
          <value>secondary</value>
          <value>front and back bead</value>
          <value>front bead</value>
          <value>zig-zag gusset (stitching)</value>
          <value>under weight</value>
          <value>locally</value>
          <value>flush</value>
          <value>back bead reversing stitch</value>
          <value>vat (dyeing)</value>
          <value>double thread</value>
          <value>two needle</value>
          <value>front cross-over bead</value>
          <value>in situ</value>
          <value>back reversing stitch</value>
          <value>surface</value>-->
        </choice>
      </element>
    </zeroOrMore>
  </define>
  <define name="endleafComponents">
    <element name="component">
      <optional>
        <attribute name="n">
          <data type="integer"/>
        </attribute>
      </optional>
      <choice>
        <value>pastedown</value>
        <value>flyleaf</value>
        <value>'made' sheet</value>
        <value>stub</value>
      </choice>
    </element>
  </define>
  <define name="endbandComponents">
    <element name="component">
      <choice>
        <value>core</value>
        <value>thread</value>
        <value>tie-downs</value>
        <element name="other">
          <text/>
        </element>
      </choice>
    </element>
  </define>
  <define name="solutions">
    <element name="solutions">
      <oneOrMore>
        <element name="solvent">
          <choice>
            <value>Acetone</value>
            <value>Acrylic Paint</value>
            <value>Acrysol</value>
            <value>Agarose</value>
            <value>Ammonium Hydroxide</value>
            <value>Amylase </value>
            <value>Asian Paper</value>
            <value>Benzyne</value>
            <value>Berlin Tissue</value>
            <value>Butvar Resin</value>
            <value>Calcium Bicarbonate</value>
            <value>Calcium carbonate</value>
            <value>Calcium hydroxide</value>
            <value>Calcium phytate </value>
            <value>Cellofas</value>
            <value>Chalk Pencil</value>
            <value>Colored Pencil</value>
            <value>DMF</value>
            <value>EDTA</value>
            <value>Ethanol</value>
            <value>Ethulose</value>
            <value>Ethyl Acetate</value>
            <value>Gelatin</value>
            <value>Gellan gum</value>
            <value>Hydrogen Peroxide</value>
            <value>Isopropanol</value>
            <value>Klucel G</value>
            <value>Klucel M</value>
            <value>Magnesium bicarbonate</value>
            <value>MEK</value>
            <value>Methylcellulose</value>
            <value>Parchment Size</value>
            <value>Pastel</value>
            <value>Phloroglucinol</value>
            <value>Protease</value>
            <value>RK Paper</value>
            <value>SC6000</value>
            <value>Sodium Borohydride</value>
            <value>Sodium CMC</value>
            <value>Sodium Hydroxide</value>
            <value>Tape Removal Formula 1</value>
            <value>Tape Removal Formula 2</value>
            <value>Tape Removal Formula 3</value>
            <value>Textile</value>
            <value>Toluene</value>
            <value>Water</value>
            <value>Water/ethanol</value>
            <value>Watercolor</value>
            <value>Western Paper</value>
            <value>Xylene</value>
            
            <!-- Not used for LoC data -->
            <!--<value>IMS</value>-->
          </choice>
        </element>
      </oneOrMore>
      <optional>
        <choice>
          <element name="proportion">
            <optional>
              <attribute name="specification">
                <choice>
                  <value>w/v</value>
                  <value>w/w</value>
                  <value>v/v</value>
                </choice>
              </attribute>
            </optional>
            <text/>
          </element>
          <element name="solventMeasurement">
            <ref name="measurements"/>
          </element>
        </choice>
      </optional>
    </element>
  </define>
  <define name="conservationTools">
    <element name="conservationTools">
      <choice>
        <value>knife</value>
        <value>brush</value>
        <value>spatula</value>
        <value>curved needle</value>
        <value>needles</value>
        <value>syringe</value>
        <value>boards</value>
        <value>bulldog clips</value>
        <value>foredom drill</value>
        <value>blotters</value>
        <!-- ADD TOOLS -->
      </choice>
    </element>
  </define>
  <define name="objectType">
    <element name="type">
      <choice>
        <value>NK</value>
        <value>book</value>
        <value>paper</value>
        <value>photo</value>
        <value>object</value>
        <element name="other">
          <text/>
        </element>
        <empty/>
      </choice>
    </element>
  </define>
  <define name="departments">
    <element name="department">
      <choice>
        <value>AFC</value>
        <value>ALL</value>
        <value>AMED</value>
        <value>Area Studies</value>
        <value>Asian</value>
        <value>CMD</value>
        <value>Folklife</value>
        <value>G &amp; M</value>
        <value>G&amp;M</value>
        <value>General Collection</value>
        <value>IPO</value>
        <value>Law</value>
        <value>Librarian</value>
        <value>MBRS</value>
        <value>MDEP</value>
        <value>MDEP-Move</value>
        <value>MDEP-NAVCC</value>
        <value>MSS</value>
        <value>Multiple</value>
        <value>Music</value>
        <value>NDL</value>
        <value>OSI</value>
        <value>Other</value>
        <value>Overhead</value>
        <value>P &amp; P</value>
        <value>PHOTO</value>
        <value>PRD</value>
        <value>Preserv</value>
        <value>PRTD and CD</value>
        <value>Rare Book</value>
        <value>SER</value>
        <value>Serials</value>
        <value>ST&amp;B</value>
        <value>Unassigned</value>
        <value>VHP</value>
        <element name="other">
          <text/>
        </element>
        <empty/>
      </choice>
    </element>
  </define>
  <define name="components">
    <choice>
      <value>covering material</value>
      <value>hinges</value>
      <value>linings</value>
      <value>previous mends</value>
      <value>attachments</value>
      <value>silking</value>
      <value>tape</value>
      <value>guards</value>
      <value>spine</value>
      <!--<value>spine stiffener</value>
      <value>lining</value>
      <value>comb lining</value>
      <value>sewing supports</value>
      <value>hollow</value>
      <value>fly-leaves</value>
      <value>pastedowns</value>
      <value>'made' sheets</value>
      <value>spine (cover)</value>
      <value>spine lining</value>
      <value>adhesive layer</value>
      <value>edges</value>
      <value>core (endband)</value>
      <value>tie-downs</value>
      <value>previous repairs</value>
      <value>guard</value>
      <value>braids</value>
      <value>endleaves</value>
      <value>concertina guard</value>
      <value>endbands</value>
      <value>inner joint</value>
      <value>outer joint</value>
      <value>joint</value>
      <value>straps</value>
      <value>corner plates</value>
      <value>bosses</value>
      <value>inks</value>
      <value>sewing supports</value>
      <value>furniture</value>
      <value>sides</value>
      <value>tips (corners)</value>
      <value>end-of-spine support bands</value>
      <value>clasps</value>
      <value>secondary sewing</value>
      <value>primary sewing</value>
      <value>pins</value>
      <value>spine label</value>
      <value>slips</value>
      <value>corners</value>
      <value>thread</value>
      <value>caps</value>
      <value>leaves</value>
      <value>tube hollow</value>
      <value>board sheets</value>
      <value>grain layer</value>
      <value>infill</value>
      <value>wedges</value>
      <value>insert</value>-->
      <element name="other">
        <text/>
      </element>
    </choice>
  </define>
  <define name="colours">
    <element name="colours">
      <oneOrMore>
        <element name="colour">
          <choice>
            <value>white</value>
            <value>blue</value>
            <value>red</value>
            <value>brown</value>
            <value>green-brown</value>
            <element name="other">
              <text/>
            </element>
          </choice>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="construction">
    <element name="construction">
      <optional>
        <attribute name="type">
          <choice>
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">formation is
              used to indicate how a component is constructed</documentation>
            <value>formation</value>
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">application
              is used to indicate how things are put together or a component is
              applied</documentation>
            <value>application</value>
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">preparation
              is used to indicate how a component is prepared before application</documentation>
            <value>preparation</value>
          </choice>
        </attribute>
      </optional>
      <oneOrMore>
        <zeroOrMore>
          <ref name="techniques"/>
        </zeroOrMore>
        <optional>
          <oneOrMore>
            <optional>
              <element name="element">
                <ref name="components"/>
              </element>
            </optional>
            <optional>
              <ref name="places"/>
            </optional>
            <zeroOrMore>
              <element name="materials">
                <ref name="conservationMaterials"/>
              </element>
            </zeroOrMore>
          </oneOrMore>
        </optional>
      </oneOrMore>
    </element>
  </define>
  <define name="extent">
    <element name="extent">
      <choice>
        <value>NK</value>
        <oneOrMore>
          <element name="number">
            <data type="integer"/>
          </element>
        </oneOrMore>
        <element name="measurement">
          <element name="measurementValue">
            <data type="double"/>
          </element>
          <element name="measurementUnit">
            <choice>
              <value>NK</value>
              <value>inch</value>
              <element name="other">
                <text/>
              </element>
            </choice>
          </element>
        </element>
        <element name="other">
          <text/>
        </element>
      </choice>
    </element>
  </define>
  <define name="measurements">
    <choice>
      <group>
        <element name="measurement">
          <choice><!--
            <!-\- sewing thread -\->
            <value>30/3</value>
            <value>25/3</value>
            <value>1/4</value>
            <value>18/3</value>
            <value>12/3</value>
            <value>35/3</value>
            <value>18/5</value>
            <value>20/3</value>-->
            <data type="decimal"/>
          </choice>
        </element>
        <element name="measurementUnit">
          <choice>
            <!--<value>NK</value>
            <value>gsm</value>
            <value>Gunze Count system</value>
            <value>wt</value>
            <value>inch</value>
            <value>ml</value>
            <value>ply</value>-->
            <text/>
          </choice>
        </element>
      </group>
    </choice>
  </define>
</grammar>
