schema/LCD_Bodleian_schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="conservationReport">
      <element name="objects">
        <element name="object">
          <ref name="objectType"/>
          <optional>
            <element name="date">
              <optional>
                <attribute name="specification">
                  <choice>
                    <value>circa</value>
                    <element name="other">
                      <text/>
                    </element>
                  </choice>
                </attribute>
              </optional>
              <choice>
                <data type="gYear"/>
                <text/>
              </choice>
            </element>
          </optional>
          <element name="shelfmark">
            <text/>
          </element>
          <ref name="departments"/>
        </element>
      </element>
      <element name="treatments">
        <element name="treatment">
          <attribute name="performedBy">
            <text/>
          </attribute>
          <element name="documentation">
            <attribute name="reportDate">
              <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
                <text xmlns="http://relaxng.org/ns/structure/1.0">Format YYYY-MM-DD</text>
              </documentation>
              <data type="date"/>
            </attribute>
            <element name="document">
              <attribute name="type">
                <choice>
                  <value>text</value>
                  <value>image</value>
                  <value>video</value>
                </choice>
              </attribute>
              <attribute name="subtype">
                <choice>
                  <value>boardSlotting</value>
                  <value>rebacking</value>
                  <value>treatmentRecord</value>
                  <element name="other">
                    <text/>
                  </element>
                </choice>
              </attribute>
              <oneOrMore>
                <element name="filename">
                  <text/>
                </element>
              </oneOrMore>
              <element name="description">
                <oneOrMore>
                  <element name="binding">
                    <optional>
                      <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">In
                        case of more than one binding, indicate the number here</documentation>
                      <attribute name="n">
                        <data type="integer"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="dating">
                        <text/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="origine">
                        <text/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="format">
                        <choice>
                          <value>NK</value>
                          <value>Fol.</value>
                          <value>4°</value>
                          <value>8°</value>
                          <value>12°</value>
                          <value>16°</value>
                          <value>32°</value>
                          <value>64°</value>
                          <value>other</value>
                        </choice>
                      </attribute>
                    </optional>
                    <optional>
                      <element name="dimensions">
                        <optional>
                          <attribute name="measurementUnit">
                            <choice>
                              <value>mm</value>
                            </choice>
                          </attribute>
                        </optional>
                        <choice>
                          <value>NK</value>
                          <group>
                            <element name="height">
                              <data type="integer"/>
                            </element>
                            <element name="width">
                              <data type="integer"/>
                            </element>
                            <element name="thickness">
                              <data type="integer"/>
                            </element>
                          </group>
                        </choice>
                      </element>
                    </optional>
                    <element name="textblock">
                      <optional>
                        <element name="gatherings">
                          <element name="gatheringFormation">
                            <choice>
                              <value>NK</value>
                              <value>regular</value>
                              <value>irregular</value>
                            </choice>
                          </element>
                        </element>
                      </optional>
                      <optional>
                        <element name="materials">
                          <ref name="materials"/>
                        </element>
                      </optional>
                    </element>
                    <element name="endleaves">
                      <oneOrMore>
                        <element name="endleaves">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                            >describe either the endleaf group or the single
                            components</documentation>
                          <choice>
                            <oneOrMore>
                              <oneOrMore>
                                <ref name="endleafComponents"/>
                              </oneOrMore>
                              <oneOrMore>
                                <ref name="materials"/>
                              </oneOrMore>
                            </oneOrMore>
                            <group>
                              <ref name="presence"/>
                              <optional>
                                <oneOrMore>
                                  <ref name="materials"/>
                                </oneOrMore>
                              </optional>
                            </group>
                          </choice>
                        </element>
                        <!-- SHOULD WE BE ABLE TO DESCIBE THE ENDLEAVES IN DETAIL? SOME RECORDS HAVE PRECISE DATA -->
                      </oneOrMore>
                    </element>
                    <element name="boards">
                      <oneOrMore>
                        <element name="board">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <choice>
                            <group>
                              <optional>
                                <element name="type">
                                  <choice>
                                    <value>NK</value>
                                    <value>pasteboard</value>
                                    <value>single</value>
                                    <value>laminated</value>
                                  </choice>
                                </element>
                              </optional>
                              <optional>
                                <ref name="construction"/>
                              </optional>
                              <zeroOrMore>
                                <ref name="materials"/>
                              </zeroOrMore>
                            </group>
                            <group>
                              <ref name="presence"/>
                              <optional>
                                <oneOrMore>
                                  <ref name="materials"/>
                                </oneOrMore>
                              </optional>
                            </group>
                          </choice>
                        </element>
                      </oneOrMore>
                      <element name="boardAttachment">
                        <oneOrMore>
                          <element name="technique">
                            <choice>
                              <value>NK</value>
                              <value>board sewing</value>
                              <value>slip lacing</value>
                            </choice>
                          </element>
                        </oneOrMore>
                      </element>
                    </element>
                    <element name="sewing">
                      <oneOrMore>
                        <element name="sewingSupports">
                          <optional>
                            <attribute name="n">
                              <choice>
                                <documentation
                                  xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">The
                                  value of the attribute @n indicates if something is referring to
                                  certain sewing supports or applies to 'all'. Default value is
                                  'all'. Use commas to separate values in lists: e.g. 1, 3,
                                  5</documentation>
                                <value>all</value>
                                <text/>
                              </choice>
                            </attribute>
                          </optional>
                          <element name="numberOfSupports">
                            <choice>
                              <value>NK</value>
                              <data type="integer"/>
                            </choice>
                          </element>
                          <element name="type">
                            <choice>
                              <value>NK</value>
                              <value>flat</value>
                              <value>strap</value>
                              <value>split-strap</value>
                              <value>twisted</value>
                              <value>laminated</value>
                              <value>folded</value>
                              <value>rolled</value>
                              <!-- ADDED -->
                              <value>thongs</value>
                              <element name="other">
                                <text/>
                              </element>
                            </choice>
                          </element>
                          <oneOrMore>
                            <ref name="materials"/>
                          </oneOrMore>
                          <element name="position">
                            <choice>
                              <value>NK</value>
                              <value>raised</value>
                              <value>recessed</value>
                              <value>external</value>
                              <value>sawn-in</value>
                            </choice>
                          </element>
                          <element name="formation">
                            <choice>
                              <value>NK</value>
                              <value>single</value>
                              <value>double</value>
                              <element name="other">
                                <text/>
                              </element>
                            </choice>
                          </element>
                        </element>
                      </oneOrMore>
                      <element name="spineFoldPreparation">
                        <choice>
                          <value>NK</value>
                          <value>piercedHole</value>
                          <value>knifeCut</value>
                          <value>vNick</value>
                        </choice>
                      </element>
                      <element name="sewingTechnique">
                        <choice>
                          <value>NK</value>
                          <value>all-along</value>
                          <value>abbreviated</value>
                          <value>overcasting</value>
                          <value>two-on</value>
                          <element name="other">
                            <text/>
                          </element>
                        </choice>
                      </element>
                    </element>
                    <element name="spine">
                      <oneOrMore>
                        <element name="spineLining">
                          <optional>
                            <attribute name="n">
                              <data type="integer"/>
                            </attribute>
                          </optional>
                          <choice>
                            <group>
                              <element name="type">
                                <choice>
                                  <value>NK</value>
                                  <value>panel</value>
                                  <!-- ADD VALUES -->
                                </choice>
                              </element>
                              <optional>
                                <oneOrMore>
                                  <ref name="materials"/>
                                </oneOrMore>
                              </optional>
                            </group>
                            <ref name="presence"/>
                          </choice>
                        </element>
                      </oneOrMore>
                      <optional>
                        <element name="adhesiveLayer">
                          <element name="materials">
                            <ref name="materials"/>
                          </element>
                        </element>
                      </optional>
                      <optional>
                        <element name="spineShape">
                          <choice>
                            <value>slight round</value>
                          </choice>
                        </element>
                      </optional>
                      <optional>
                        <element name="backingJoints">
                          <choice>
                            <value>quadrant</value>
                            <value>slight</value>
                            <value>square</value>
                            <value>angled</value>
                          </choice>
                        </element>
                      </optional>
                      <optional>
                        <element name="spineFeatures">
                          <choice>
                            <value>NK</value>
                            <value>hollowBack</value>
                            <value>tightBack</value>
                          </choice>
                        </element>
                      </optional>
                    </element>
                    <element name="endbands">
                      <oneOrMore>
                        <element name="endband">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                            >describe either the endband or the single components</documentation>
                          <choice>
                            <zeroOrMore>
                              <ref name="construction"/>
                              <optional>
                                <element name="tieDownSpecification">
                                  <choice>
                                    <value>frequent</value>
                                    <value>infrequent</value>
                                    <value>all</value>
                                  </choice>
                                </element>
                              </optional>
                            </zeroOrMore>
                            <group>
                              <ref name="presence"/>
                              <optional>
                                <oneOrMore>
                                  <ref name="materials"/>
                                </oneOrMore>
                              </optional>
                            </group>
                          </choice>
                          <optional>
                            <ref name="colours"/>
                          </optional>
                        </element>
                      </oneOrMore>
                    </element>
                    <element name="cover">
                      <element name="coverExtent">
                        <choice>
                          <value>NK</value>
                          <value>full</value>
                          <value>half</value>
                          <value>quarter</value>
                        </choice>
                      </element>
                      <element name="coverMaterials">
                        <oneOrMore>
                          <ref name="materials"/>
                        </oneOrMore>
                      </element>
                      <element name="falseRaisedBands">
                        <ref name="presence"/>
                      </element>
                    </element>
                  </element>
                </oneOrMore>
              </element>
              <element name="condition">
                <oneOrMore>
                  <element name="binding">
                    <optional>
                      <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">In
                        case of more than one binding, indicate the number here</documentation>
                      <attribute name="n">
                        <data type="integer"/>
                      </attribute>
                    </optional>
                    <element name="previousRepair">
                      <optional>
                        <attribute name="date">
                          <data type="gYear"/>
                        </attribute>
                      </optional>
                      <choice>
                        <value>NK</value>
                        <value>yes</value>
                        <value>no</value>
                      </choice>
                    </element>
                    <element name="textblock">
                      <ref name="conditions"/>
                    </element>
                    <element name="endleaves">
                      <oneOrMore>
                        <element name="endleaves">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                            >describe either the endleaf group or the single
                            components</documentation>
                          <choice>
                            <ref name="conditions"/>
                          </choice>
                        </element>
                      </oneOrMore>
                    </element>
                    <element name="boards">
                      <oneOrMore>
                        <element name="board">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <ref name="conditions"/>
                          <element name="boardAttachment">
                            <ref name="conditions"/>
                          </element>
                        </element>
                      </oneOrMore>
                    </element>
                    <element name="sewing">
                      <optional>
                        <element name="sewingSupports">
                          <optional>
                            <attribute name="n">
                              <choice>
                                <documentation
                                  xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">The
                                  value of the attribute @n indicates if something is referring to
                                  certain sewing supports or applies to 'all'. Default value is
                                  'all'. Use commas to separate values in lists: e.g. 1, 3,
                                  5</documentation>
                                <value>all</value>
                                <text/>
                              </choice>
                            </attribute>
                          </optional>
                          <ref name="conditions"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="sewingStructure">
                          <ref name="conditions"/>
                        </element>
                      </optional>
                    </element>
                    <element name="spine">
                      <zeroOrMore>
                        <element name="spineLining">
                          <optional>
                            <attribute name="n">
                              <data type="integer"/>
                            </attribute>
                          </optional>
                          <ref name="conditions"/>
                        </element>
                      </zeroOrMore>
                      <optional>
                        <element name="adhesiveLayer">
                          <ref name="conditions"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="spineShape">
                          <ref name="conditions"/>
                        </element>
                      </optional>
                    </element>
                    <element name="endbands">
                      <oneOrMore>
                        <element name="endband">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <choice>
                            <oneOrMore>
                              <ref name="endbandComponents"/>
                              <ref name="conditions"/>
                            </oneOrMore>
                            <ref name="conditions"/>
                          </choice>
                        </element>
                      </oneOrMore>
                    </element>
                    <element name="cover">
                      <oneOrMore>
                        <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                          >Indicate if left side, right side, spine</documentation>
                        <element name="section">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <ref name="conditions"/>
                        </element>
                      </oneOrMore>
                    </element>
                  </element>
                </oneOrMore>
              </element>
              <element name="treatment">
                <oneOrMore>
                  <element name="binding">
                    <optional>
                      <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">In
                        case of more than one binding, indicate the number here</documentation>
                      <attribute name="n">
                        <data type="integer"/>
                      </attribute>
                    </optional>
                    <optional>
                      <element name="textblock">
                        <ref name="treatments"/>
                      </element>
                    </optional>
                    <optional>
                      <element name="endleaves">
                        <oneOrMore>
                          <element name="endleaves">
                            <attribute name="place">
                              <ref name="placeValues"/>
                            </attribute>
                            <documentation
                              xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">describe
                              either the endleaf group or the single components</documentation>
                            <choice>
                              <ref name="treatments"/>
                            </choice>
                          </element>
                        </oneOrMore>
                      </element>
                    </optional>
                    <optional>
                      <element name="boards">
                        <oneOrMore>
                          <element name="board">
                            <attribute name="place">
                              <ref name="placeValues"/>
                            </attribute>
                            <optional>
                              <ref name="treatments"/>
                            </optional>
                            <optional>
                              <element name="boardAttachment">
                                <ref name="treatments"/>
                              </element>
                            </optional>
                          </element>
                        </oneOrMore>
                      </element>
                    </optional>
                    <optional>
                      <element name="sewing">
                        <optional>
                          <element name="sewingSupports">
                            <optional>
                              <attribute name="n">
                                <choice>
                                  <documentation
                                    xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">The
                                    value of the attribute @n indicates if something is referring to
                                    certain sewing supports or applies to 'all'. Default value is
                                    'all'. Use commas to separate values in lists: e.g. 1, 3,
                                    5</documentation>
                                  <value>all</value>
                                  <text/>
                                </choice>
                              </attribute>
                            </optional>
                            <ref name="treatments"/>
                          </element>
                        </optional>
                        <optional>
                          <element name="sewingStructure">
                            <ref name="treatments"/>
                          </element>
                        </optional>
                      </element>
                    </optional>
                    <optional>
                      <element name="spine">
                        <optional>
                          <element name="spine">
                            <ref name="treatments"/>
                          </element>
                        </optional>
                        <zeroOrMore>
                          <element name="spineLining">
                            <optional>
                              <attribute name="n">
                                <data type="integer"/>
                              </attribute>
                            </optional>
                            <ref name="treatments"/>
                          </element>
                        </zeroOrMore>
                        <optional>
                          <element name="adhesiveLayer">
                            <ref name="treatments"/>
                          </element>
                        </optional>
                        <optional>
                          <!-- CHECK IF ACTUALLY USED IN THE RECORDS -->
                          <element name="spineShape">
                            <ref name="treatments"/>
                          </element>
                        </optional>
                      </element>
                    </optional>
                    <optional>
                      <element name="endbands">
                        <oneOrMore>
                          <element name="endband">
                            <attribute name="place">
                              <ref name="placeValues"/>
                            </attribute>
                            <choice>
                              <oneOrMore>
                                <ref name="endbandComponents"/>
                                <ref name="treatments"/>
                              </oneOrMore>
                              <ref name="treatments"/>
                            </choice>
                          </element>
                        </oneOrMore>
                      </element>
                    </optional>
                    <optional>
                      <element name="cover">
                        <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                          >Indicate if left side, right side, spine</documentation>
                        <oneOrMore>
                          <element name="section">
                            <attribute name="place">
                              <ref name="placeValues"/>
                            </attribute>
                            <ref name="treatments"/>
                          </element>
                        </oneOrMore>
                      </element>
                    </optional>
                  </element>
                </oneOrMore>
                <zeroOrMore>
                  <element name="protection">
                    <optional>
                      <choice>
                        <element name="housing">
                          <choice>
                            <element name="box">
                              <choice>
                                <value>phase box</value>
                                <value>kase-make box</value>
                              </choice>
                            </element>
                            <element name="other">
                              <text/>
                            </element>
                          </choice>
                        </element>
                        <element name="other">
                          <text/>
                        </element>
                      </choice>
                    </optional>
                  </element>
                </zeroOrMore>
              </element>
              <zeroOrMore>
                <element name="notes">
                  <attribute name="type">
                    <choice>
                      <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">the
                        value 'documentation' is used to copy notes from the reports</documentation>
                      <value>documentation</value>
                      <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">the
                        value 'modelling' is used to notify modelling issues</documentation>
                      <value>modelling</value>
                    </choice>
                  </attribute>
                  <text/>
                </element>
              </zeroOrMore>
            </element>
          </element>
        </element>
      </element>
    </element>
  </start>
  <define name="presence">
    <element name="presence">
      <choice>
        <value>NK</value>
        <value>yes</value>
        <value>no</value>
      </choice>
    </element>
  </define>
  <define name="treatment">
    <optional>
      <oneOrMore>
        <optional>
          <ref name="techniques"/>
        </optional>
        <optional>
          <oneOrMore>
            <ref name="places"/>
          </oneOrMore>
        </optional>
        <optional>
          <element name="materials">
            <oneOrMore>
              <ref name="conservationMaterials"/>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <oneOrMore>
            <ref name="conservationTools"/>
          </oneOrMore>
        </optional>
        <optional>
          <ref name="construction"/>
        </optional>
      </oneOrMore>
    </optional>
  </define>
  <define name="treatments">
    <oneOrMore>
      <choice>
        <element name="removal">
          <optional>
            <attribute name="type">
              <choice>
                <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                  >"temporary" indicates temporary removal during/for conservation
                  treatments</documentation>
                <value>temporary</value>
                <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                  >"permanent" indicates permanent removal from the object. This is the default
                  value.</documentation>
                <value>permanent</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <element name="component">
              <optional>
                <attribute name="n">
                  <data type="integer"/>
                </attribute>
              </optional>
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="reinforcement">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="repair">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="preparation">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="reattachment">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="finishing">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="new">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="cleaning">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
      </choice>
    </oneOrMore>
  </define>
  <define name="condition">
    <element name="conditionValues">
      <choice>
        <value>NK</value>
        <element name="good">
          <choice>
            <value>sound</value>
            <value>attached</value>
            <value>good</value>
            <value>intact</value>
            <value>firm</value>
          </choice>
        </element>
        <element name="atRisk">
          <choice>
            <value>weak</value>
            <value>loose</value>
            <value>brittle</value>
            <value>fragile</value>
            <value>worn</value>
            <value>friable</value>
            <value>tearing</value>
            <value>creasing</value>
            <value>damaged</value>
            <value>dry</value>
            <value>scuffed</value>
            <value>foxing</value>
            <value>staining</value>
            <value>discoloration</value>
            <value>degraded</value>
            <value>pitted</value>
          </choice>
        </element>
        <element name="broken">
          <choice>
            <value>broken</value>
            <value>fragmentary</value>
            <value>detached</value>
            <value>losses</value>
            <value>splitting</value>
            <value>damaged</value>
          </choice>
        </element>
        <element name="missing">
          <value>missing</value>
        </element>
        <element name="previouslyRepaired">
          <choice>
            <value>rebacked</value>
            <value>repaired</value>
            <value>rehitched</value>
          </choice>
        </element>
        <element name="other">
          <text/>
        </element>
      </choice>      
    </element>  
    <optional>
      <element name="conditionSpecification">
        <choice>
          <value>NK</value>
          <value>almost</value>
        </choice>
      </element>
    </optional>
  </define>
  <define name="conditions">
    <oneOrMore>
      <element name="condition">
        <ref name="condition"/>
        <optional>
          <ref name="places"/>
        </optional>
        <optional>
          <element name="component">
            <ref name="components"/>
          </element>
        </optional>
        <optional>
          <ref name="materials"/>
        </optional>
        <optional>
          <ref name="extent"/>
        </optional>
      </element>
    </oneOrMore>
  </define>
  <define name="places">
    <zeroOrMore>
        <element name="compositePlace">
          <oneOrMore>
            <element name="place">
              <ref name="placeValues"/>
            </element>
          </oneOrMore>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="place">
          <ref name="placeValues"/>
        </element>
      </zeroOrMore>
  </define>
  <define name="placeValues">
    <choice>
      <value>head</value>
      <value>tail</value>
      <value>fore-edge</value>
      <value>fold</value>
      <value>corner</value>
      <value>borders</value>
      <value>fleshside</value>
      <value>hairside</value>
      <value>joint</value>
      <value>innerJoint</value>
      <value>outerJoint</value>
      <value>left</value>
      <value>right</value>
      <value>outer</value>
      <value>inner</value>
      <value>sides</value>
      <value>spine</value>
      <value>squares</value>
      <value>outside</value>
      <value>inside</value>
      <value>edges</value>
      <!-- ADDED -->
      <value>sewing stations</value>
      <value>sewing supports</value>
      <value>change-over stations</value>
      <value>turn-in</value>
      <value>slot (board slotting)</value>
      <value>fly-leaves</value>
      <value>first few leaves</value>
      <value>last few leaves</value>
      <value>boards</value>
      <value>braids</value>
      <value>around</value>
      <value>spine panel</value>
      <value>shoulder</value>
      <element name="other">
        <text/>
      </element>
    </choice>
  </define>
  <define name="conservationMaterials">
    <group>
      <element name="material">
        <choice>
          <value>NK</value>
          <value>paper</value>
          <value>parchment</value>
          <value>tannedSkin</value>
          <value>tawedSkin</value>
          <value>cloth</value>
          <value>cord</value>
          <value>wood</value>
          <value>mull</value>
          <value>glue</value>
          <value>wheat starch paste</value>
          <value>cloth</value>
          <value>areo linen</value>
          <!-- Japanese paper often called tissue -->
          <value>japanese paper</value>
          <value>poultice</value>
          <value>thread</value>
          <value>areo cotton</value>
          <value>manilla paper</value>
          <value>kraft paper</value>
          <value>adhesive</value>
          <value>EVA</value>
          <value>PVA</value>
          <value>cords</value>
          <value>braids</value>
          <value>leather dressing</value>
          <!-- ADD CONSERVATION MATERIALS -->
          <value>acrylic polymer and wax emulsion</value>
          <value>aluminium alkoxide</value>
          <!-- solutions -->
          <ref name="solutions"/>
          <element name="other">
            <text/>
          </element>
        </choice>
      </element>
      <optional>
        <oneOrMore>
          <element name="materialSpecification">
            <choice>
              <value>dyed</value>
              <value>undyed</value>
              <value>natural</value>
              <value>thin</value>
              <value>thick</value>
              <value>toned</value>
              <value>archival</value>
              <value>animal</value>
              <value>linen</value>
              <value>cotton</value>
              <value>acrylic</value>
              <value>calf</value>
              <value>goat</value>
              <value>sheep</value>
              <value>oak bark (tanning)</value>
              <value>tengujo</value>
            </choice>
          </element>
        </oneOrMore>
      </optional>
      <optional>
        <element name="materialCommercialName">
          <choice>
            <value>RK17</value>
            <value>Lascaux?</value>
            <value>Hasegawa</value>
            <value>SC6000</value>
            <value>RTRC50?</value>
            <value>Bodleian</value>
            <value>Atlantis H.m.</value>
          </choice>
        </element>
      </optional>
      <optional>
        <element name="materialMeasurement">
          <choice>
            <group>
              <element name="measurement">
                <choice>
                  <!-- sewing thread -->
                  <value>30/3</value>
                  <value>25/3</value>
                  <value>1/4</value>
                  <data type="decimal"/>
                </choice>
              </element>
              <element name="measurementUnit">
                <choice>
                  <value>NK</value>
                  <value>gsm</value>
                  <value>Gunze Count system</value>
                  <value>wt</value>
                  <value>inch</value>
                </choice>
              </element>
            </group>
          </choice>
        </element>
      </optional>
    </group>
  </define>
  <define name="materials">
    <element name="material">
      <choice>
        <value>NK</value>
        <value>paper</value>
        <value>parchment</value>
        <!-- tanned skin referred to as leather -->
        <value>tannedSkin</value>
        <value>tawedSkin</value>
        <value>cloth</value>
        <value>cord</value>
        <value>wood</value>
        <value>mull</value>
        <value>glue</value>
        <element name="other">
          <text/>
        </element>
      </choice>
    </element>
    <optional>
      <oneOrMore>
        <element name="materialSpecification">
          <choice>
            <value>calf</value>
            <value>goat</value>
            <value>sheep</value>
            <value>thick</value>
            <value>thin</value>
            <value>animal</value>
            <value>hemp</value>
            <element name="other">
              <text/>
            </element>
          </choice>
        </element>
      </oneOrMore>
    </optional>
  </define>
  <define name="techniques">
    <element name="technique">
      <choice>
        <value>sewing</value>
        <value>oversewing</value>
        <value>pasting</value>
        <value>lining</value>
        <value>guarding</value>
        <value>slotting</value>
        <value>cutting</value>
        <value>lifting</value>
        <value>detaching</value>
        <value>repairing</value>
        <value>paring</value>
        <value>sanding</value>
        <value>paring/sanding</value>
        <value>reinforcing</value>
        <value>with poultice</value>
        <value>in the round</value>
        <value>folding</value>
        <value>brushing</value>
        <value>washing</value>
        <value>deacidifying</value>
        <value>dry</value>
        <value>lacing in</value>
        <!-- ADD TECHNIQUES -->
        <value>folding in half</value>
        <value>one on, one off</value>
        <value>with extensions</value>
        <value>rebacking</value>
        <value>link-stitch</value>
        <value>rehitching</value>
        <value>bevelling</value>
        <value>rolling</value>
        <value>extending</value>
        <value>retanning</value>
        <value>front and back bead</value>
        <value>rebuilding</value>
        <value>consolidation</value>
      </choice>
    </element>
  </define>
  <define name="endleafComponents">
    <element name="component">
      <optional>
        <attribute name="n">
          <data type="integer"/>
        </attribute>
      </optional>
      <choice>
        <value>pastedown</value>
        <value>flyleaf</value>
        <value>'made' sheet</value>
        <value>stub</value>
      </choice>
    </element>
  </define>
  <define name="endbandComponents">
    <element name="component">
      <choice>
        <value>core</value>
        <value>thread</value>
        <value>tie-downs</value>
        <element name="other">
          <text/>
        </element>
      </choice>
    </element>
  </define>
  <define name="solutions">
    <element name="solutions">
      <oneOrMore>
        <element name="solvent">
          <choice>
            <value>water</value>
            <value>IMS</value>
          </choice>
        </element>
      </oneOrMore>
      <element name="proportion">
        <text/>
      </element>
    </element>
  </define>
  <define name="conservationTools">
    <element name="conservationTools">
      <choice>
        <value>knife</value>
        <value>brush</value>
        <!-- ADD TOOLS -->
      </choice>
    </element>
  </define>
  <define name="objectType">
    <element name="type">
      <choice>
        <value>book</value>
        <value>pamphlet</value>
        <element name="other">
          <text/>
        </element>
      </choice>
    </element>
  </define>
  <define name="departments">
    <element name="department">
      <choice>
        <value>Printed Books</value>
        <value>...</value>
        <element name="other">
          <text/>
        </element>
      </choice>
    </element>
  </define>
  <define name="components">
    <choice>
      <value>covering material</value>
      <value>spine stiffener</value>
      <value>lining</value>
      <value>comb lining</value>
      <value>sewing supports</value>
      <value>hollow</value>
      <value>fly-leaves</value>
      <value>pastedowns</value>
      <value>'made' sheets</value>
      <value>spine (cover)</value>
      <value>spine lining</value>
      <value>adhesive layer</value>
      <value>edges</value>
      <value>core (endband)</value>
      <value>tie-downs</value>
      <value>previous repairs</value>
      <value>guard</value>
      <value>braids</value>
      <value>endleaves</value>
      <value>concertina guard</value>
      <value>endbands</value>
      <value>inner joint</value>
      <value>outer joint</value>
      <value>joint</value>
      <element name="other">
        <text/>
      </element>
    </choice>
  </define>
  <define name="colours">
    <element name="colours">
      <oneOrMore>
        <element name="colour">
          <choice>
            <value>white</value>
            <value>blue</value>
            <value>red</value>
            <value>brown</value>
          </choice>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="construction">
    <element name="construction">
      <optional>
        <attribute name="type">
          <choice>
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">formation is
              used to indicate how a component is constructed</documentation>
            <value>formation</value>
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">application
              is used to indicate how things are put together or a component is
              applied</documentation>
            <value>application</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <ref name="techniques"/>
      </optional>
      <optional>
        <oneOrMore>
          <optional>
            <element name="element">
              <ref name="components"/>
            </element>
          </optional>
          <optional>
            <ref name="places"/>
          </optional>
          <optional>
            <element name="material">
              <ref name="conservationMaterials"/>
            </element>
          </optional>
        </oneOrMore>
      </optional>
    </element>
  </define>
  <define name="extent">
    <element name="extent">
      <choice>
        <value>NK</value>
        <element name="measurement">
          <element name="measurementValue">
            <data type="double"/>
          </element>
          <element name="measurementUnit">
            <choice>
              <value>NK</value>
              <value>inch</value>
              <element name="other">
                <text/>
              </element>
            </choice>
          </element>
        </element>
        <element name="other">
          <text/>
        </element>
      </choice>
    </element>
  </define>
</grammar>
