schema/LCD_general_schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="conservationReport">
      <optional>
        <attribute name="projectN">
          <text/>
        </attribute>
      </optional>
      <optional>
        <attribute name="id">
          <data type="NMTOKEN"/>
        </attribute>
      </optional>
      <element name="objects">
        <element name="object">
          <ref name="objectType"/>
          <optional>
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Date of
              Creation</documentation>
            <element name="date">
              <optional>
                <attribute name="specification">
                  <text/>
                </attribute>
              </optional>
              <choice>
                <data type="gYear"/>
                <text/>
              </choice>
            </element>
          </optional>
          <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Call
            Number</documentation>
          <element name="shelfmark">
            <choice>
              <text/>
              <empty/>
            </choice>
          </element>
          <optional>
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">LoC specific
              numbers</documentation>
            <element name="masterControlN">
              <choice>
                <text/>
                <empty/>
              </choice>
            </element>
            <element name="LCCN">
              <choice>
                <text/>
                <empty/>
              </choice>
            </element>
            <element name="otherAssociatedN">
              <choice>
                <text/>
                <empty/>
              </choice>
            </element>
            <element name="itemName">
              <choice>
                <text/>
                <empty/>
              </choice>
            </element>
          </optional>
          <optional>
            <ref name="departments"/>
          </optional>
          <element name="place">
            <text/>
          </element>
        </element>
      </element>
      <element name="treatments">
        <element name="treatment">
          <element name="performedBy">
            <element name="conservators">
              <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">If more
                than one conservator: <text>Conservator1; Conservator2; etc.</text></documentation>
              <zeroOrMore>
                <element name="conservator">
                  <text/>
                </element>
              </zeroOrMore>
            </element>
          </element>
          <optional>
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">LoC specific
              data</documentation>
            <attribute name="projectName">
              <choice>
                <text/>
                <empty/>
              </choice>
            </attribute>
          </optional>
          <element name="documentation">
            <element name="reportDate">
              <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
                <text xmlns="http://relaxng.org/ns/structure/1.0">LoC Format: YYYY</text>
              </documentation>
              <optional>
                <attribute name="value">
                  <text/>
                </attribute>
              </optional>
              <choice>
                <data type="date"/>
                <data type="gYear"/>
                <text/>
                <empty/>
              </choice>
            </element>
            <element name="document">
              <attribute name="type">
                <text/>
              </attribute>
              <optional>
                <attribute name="subtype">
                  <text/>
                </attribute>
              </optional>
              <zeroOrMore>
                <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Not
                  necessary for LoC data</documentation>
                <element name="filename">
                  <text/>
                </element>
              </zeroOrMore>
              <element name="description">
                <oneOrMore>
                  <element name="binding">
                    <optional>
                      <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">In
                        case of more than one binding, indicate the number here</documentation>
                      <attribute name="n">
                        <data type="integer"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="dating">
                        <text/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="origin">
                        <text/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="format">
                        <choice>
                          <value>NK</value>
                          <value>Fol.</value>
                          <value>4to</value>
                          <value>8vo</value>
                          <value>12mo</value>
                          <value>16mo</value>
                          <value>32mo</value>
                          <value>64mo</value>
                          <value>other</value>
                        </choice>
                      </attribute>
                    </optional>
                    <optional>
                      <element name="dimensions">
                        <optional>
                          <attribute name="measurementUnit">
                            <choice>
                              <value>mm</value>
                            </choice>
                          </attribute>
                        </optional>
                        <choice>
                          <value>NK</value>
                          <group>
                            <element name="height">
                              <data type="integer"/>
                            </element>
                            <element name="width">
                              <data type="integer"/>
                            </element>
                            <element name="thickness">
                              <data type="integer"/>
                            </element>
                          </group>
                        </choice>
                      </element>
                    </optional>
                    <element name="textblock">
                      <optional>
                        <element name="collationFormula">
                          <text/>
                        </element>
                      </optional>
                      <optional>
                        <element name="numberOfPages">
                          <attribute name="unit">
                            <choice>
                              <value>NK</value>
                              <value>leaf/foliation</value>
                              <value>page/pagination</value>
                            </choice>
                          </attribute>
                          <choice>
                            <data type="integer"/>
                            <text/>
                          </choice>
                        </element>
                      </optional>
                      <optional>
                        <element name="gatherings">
                          <element name="gatheringFormation">
                            <text/>
                          </element>
                        </element>
                      </optional>
                      <zeroOrMore>
                        <element name="materials">
                          <ref name="materials"/>
                        </element>
                      </zeroOrMore>
                    </element>
                    <element name="endleaves">
                      <oneOrMore>
                        <element name="endleaves">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                            >describe either the endleaf group or the single
                            components</documentation>
                          <choice>
                            <oneOrMore>
                              <oneOrMore>
                                <ref name="endleafComponents"/>
                              </oneOrMore>
                              <oneOrMore>
                                <ref name="materials"/>
                              </oneOrMore>
                            </oneOrMore>
                            <group>
                              <ref name="presence"/>
                              <optional>
                                <oneOrMore>
                                  <ref name="materials"/>
                                </oneOrMore>
                              </optional>
                            </group>
                          </choice>
                        </element>
                        <!-- SHOULD WE BE ABLE TO DESCIBE THE ENDLEAVES IN DETAIL? SOME RECORDS HAVE PRECISE DATA -->
                      </oneOrMore>
                    </element>
                    <element name="boards">
                      <oneOrMore>
                        <element name="board">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <choice>
                            <group>
                              <optional>
                                <element name="type">
                                  <text/>
                                </element>
                              </optional>
                              <optional>
                                <ref name="construction"/>
                              </optional>
                              <zeroOrMore>
                                <ref name="materials"/>
                              </zeroOrMore>
                            </group>
                            <group>
                              <ref name="presence"/>
                              <optional>
                                <oneOrMore>
                                  <ref name="materials"/>
                                </oneOrMore>
                              </optional>
                            </group>
                          </choice>
                        </element>
                      </oneOrMore>
                      <element name="boardAttachment">
                        <choice>
                          <zeroOrMore>
                            <element name="technique">
                              <text/>
                            </element>
                          </zeroOrMore>
                          <zeroOrMore>
                            <ref name="construction"/>
                          </zeroOrMore>
                        </choice>
                      </element>
                    </element>
                    <element name="sewing">
                      <oneOrMore>
                        <element name="sewingSupports">
                          <optional>
                            <attribute name="n">
                              <choice>
                                <documentation
                                  xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">The
                                  value of the attribute @n indicates if something is referring to
                                  certain sewing supports or applies to 'all'. Default value is
                                  'all'. Use commas to separate values in lists: e.g. 1, 3,
                                  5</documentation>
                                <value>all</value>
                                <text/>
                              </choice>
                            </attribute>
                          </optional>
                          <element name="numberOfSupports">
                            <choice>
                              <value>NK</value>
                              <data type="integer"/>
                            </choice>
                          </element>
                          <element name="type">
                            <text/>
                          </element>
                          <oneOrMore>
                            <ref name="materials"/>
                          </oneOrMore>
                          <element name="position">
                            <text/>
                          </element>
                          <element name="formation">
                            <text/>
                          </element>
                        </element>
                      </oneOrMore>
                      <element name="spineFoldPreparation">
                        <text/>
                      </element>
                      <element name="sewingTechnique">
                        <text/>
                      </element>
                    </element>
                    <element name="edges">
                      <element name="formation">
                        <text/>
                      </element>
                      <optional>
                        <element name="decoration">
                          <element name="type">
                            <text/>
                          </element>
                          <optional>
                            <ref name="colours"/>
                          </optional>
                        </element>
                      </optional>
                    </element>
                    <element name="spine">
                      <oneOrMore>
                        <element name="spineLining">
                          <optional>
                            <attribute name="n">
                              <data type="integer"/>
                            </attribute>
                          </optional>
                          <choice>
                            <group>
                              <element name="type">
                                <text/>
                              </element>
                              <optional>
                                <oneOrMore>
                                  <ref name="materials"/>
                                </oneOrMore>
                              </optional>
                            </group>
                            <ref name="presence"/>
                          </choice>
                        </element>
                      </oneOrMore>
                      <optional>
                        <element name="adhesiveLayer">
                          <element name="materials">
                            <ref name="materials"/>
                          </element>
                        </element>
                      </optional>
                      <optional>
                        <element name="spineShape">
                          <text/>
                        </element>
                      </optional>
                      <optional>
                        <element name="backingJoints">
                          <text/>
                        </element>
                      </optional>
                      <optional>
                        <element name="spineFeatures">
                          <text/>
                        </element>
                      </optional>
                    </element>
                    <element name="endbands">
                      <oneOrMore>
                        <element name="endband">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                            >describe either the endband or the single components</documentation>
                          <choice>
                            <zeroOrMore>
                              <ref name="construction"/>
                              <optional>
                                <element name="tieDownSpecification">
                                  <text/>
                                </element>
                              </optional>
                            </zeroOrMore>
                            <group>
                              <ref name="presence"/>
                              <optional>
                                <oneOrMore>
                                  <ref name="materials"/>
                                </oneOrMore>
                              </optional>
                            </group>
                          </choice>
                          <optional>
                            <ref name="colours"/>
                          </optional>
                        </element>
                      </oneOrMore>
                    </element>
                    <element name="cover">
                      <optional>
                        <element name="type">
                          <text/>
                        </element>
                      </optional>
                      <element name="coverExtent">
                        <text/>
                      </element>
                      <element name="coverMaterials">
                        <oneOrMore>
                          <ref name="materials"/>
                        </oneOrMore>
                      </element>
                      <zeroOrMore>
                        <element name="decoration">
                          <element name="type">
                            <text/>
                          </element>
                          <optional>
                            <element name="decorationSpecification">
                              <text/>
                            </element>
                          </optional>
                          <optional>
                            <ref name="places"/>
                          </optional>
                        </element>
                      </zeroOrMore>
                      <optional>
                        <element name="furniture">
                          <choice>
                            <group>
                              <zeroOrMore>
                                <element name="component">
                                  <element name="type">
                                    <text/>
                                  </element>
                                  <optional>
                                    <ref name="materials"/>
                                  </optional>
                                  <optional>
                                    <ref name="places"/>
                                  </optional>
                                </element>
                              </zeroOrMore>
                            </group>
                            <ref name="presence"/>
                          </choice>
                        </element>
                      </optional>
                      <optional>
                        <element name="falseRaisedBands">
                          <ref name="presence"/>
                        </element>
                      </optional>
                    </element>
                  </element>
                </oneOrMore>
              </element>
              <element name="condition">
                <oneOrMore>
                  <element name="binding">
                    <optional>
                      <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">In
                        case of more than one binding, indicate the number here</documentation>
                      <attribute name="n">
                        <data type="integer"/>
                      </attribute>
                    </optional>
                    <element name="previousRepair">
                      <optional>
                        <attribute name="date">
                          <data type="gYear"/>
                        </attribute>
                      </optional>
                      <choice>
                        <value>NK</value>
                        <value>yes</value>
                        <value>no</value>
                      </choice>
                    </element>
                    <element name="textblock">
                      <optional>
                        <ref name="conditions"/>
                      </optional>
                    </element>
                    <element name="endleaves">
                      <oneOrMore>
                        <element name="endleaves">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                            >describe either the endleaf group or the single
                            components</documentation>
                          <choice>
                            <ref name="conditions"/>
                          </choice>
                        </element>
                      </oneOrMore>
                    </element>
                    <element name="boards">
                      <oneOrMore>
                        <element name="board">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <optional>
                            <ref name="conditions"/>
                          </optional>
                          <optional>
                            <element name="boardAttachment">
                              <ref name="conditions"/>
                            </element>
                          </optional>
                        </element>
                      </oneOrMore>
                    </element>
                    <element name="sewing">
                      <optional>
                        <ref name="conditions"/>
                      </optional>
                      <optional>
                        <element name="sewingSupports">
                          <optional>
                            <attribute name="n">
                              <choice>
                                <documentation
                                  xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">The
                                  value of the attribute @n indicates if something is referring to
                                  certain sewing supports or applies to 'all'. Default value is
                                  'all'. Use commas to separate values in lists: e.g. 1, 3,
                                  5</documentation>
                                <value>all</value>
                                <text/>
                              </choice>
                            </attribute>
                          </optional>
                          <ref name="conditions"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="sewingStructure">
                          <ref name="conditions"/>
                        </element>
                      </optional>
                    </element>
                    <element name="spine">
                      <optional>
                        <ref name="conditions"/>
                      </optional>
                      <zeroOrMore>
                        <element name="spineLining">
                          <optional>
                            <attribute name="n">
                              <data type="integer"/>
                            </attribute>
                          </optional>
                          <ref name="conditions"/>
                        </element>
                      </zeroOrMore>
                      <optional>
                        <element name="adhesiveLayer">
                          <ref name="conditions"/>
                        </element>
                      </optional>
                      <optional>
                        <element name="spineShape">
                          <ref name="conditions"/>
                        </element>
                      </optional>
                    </element>
                    <element name="endbands">
                      <optional>
                        <ref name="conditions"/>
                      </optional>
                      <zeroOrMore>
                        <element name="endband">
                          <attribute name="place">
                            <ref name="placeValues"/>
                          </attribute>
                          <choice>
                            <oneOrMore>
                              <ref name="endbandComponents"/>
                              <ref name="conditions"/>
                            </oneOrMore>
                            <ref name="conditions"/>
                          </choice>
                        </element>
                      </zeroOrMore>
                    </element>
                    <element name="cover">
                      <choice>
                        <optional>
                          <ref name="conditions"/>
                        </optional>
                        <group>
                          <oneOrMore>
                            <documentation
                              xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Indicate
                              if left side, right side, spine</documentation>
                            <element name="section">
                              <attribute name="place">
                                <ref name="placeValues"/>
                              </attribute>
                              <ref name="conditions"/>
                            </element>
                          </oneOrMore>
                        </group>
                      </choice>
                    </element>
                  </element>
                </oneOrMore>
              </element>
              <element name="treatment">
                <oneOrMore>
                  <element name="binding">
                    <optional>
                      <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">In
                        case of more than one binding, indicate the number here</documentation>
                      <attribute name="n">
                        <data type="integer"/>
                      </attribute>
                    </optional>
                    <optional>
                      <element name="textblock">
                        <ref name="treatments"/>
                      </element>
                    </optional>
                    <optional>
                      <element name="endleaves">
                        <oneOrMore>
                          <element name="endleaves">
                            <attribute name="place">
                              <ref name="placeValues"/>
                            </attribute>
                            <documentation
                              xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">describe
                              either the endleaf group or the single components</documentation>
                            <choice>
                              <ref name="treatments"/>
                            </choice>
                          </element>
                        </oneOrMore>
                      </element>
                    </optional>
                    <optional>
                      <element name="boards">
                        <oneOrMore>
                          <element name="board">
                            <attribute name="place">
                              <ref name="placeValues"/>
                            </attribute>
                            <optional>
                              <ref name="treatments"/>
                            </optional>
                            <optional>
                              <element name="boardAttachment">
                                <ref name="treatments"/>
                              </element>
                            </optional>
                          </element>
                        </oneOrMore>
                      </element>
                    </optional>
                    <optional>
                      <element name="sewing">
                        <optional>
                          <element name="sewingSupports">
                            <optional>
                              <attribute name="n">
                                <choice>
                                  <documentation
                                    xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">The
                                    value of the attribute @n indicates if something is referring to
                                    certain sewing supports or applies to 'all'. Default value is
                                    'all'. Use commas to separate values in lists: e.g. 1, 3,
                                    5</documentation>
                                  <value>all</value>
                                  <text/>
                                </choice>
                              </attribute>
                            </optional>
                            <ref name="treatments"/>
                          </element>
                        </optional>
                        <optional>
                          <element name="sewingStructure">
                            <ref name="treatments"/>
                          </element>
                        </optional>
                      </element>
                    </optional>
                    <optional>
                      <element name="spine">
                        <optional>
                          <element name="spine">
                            <ref name="treatments"/>
                          </element>
                        </optional>
                        <zeroOrMore>
                          <element name="spineLining">
                            <optional>
                              <attribute name="n">
                                <data type="integer"/>
                              </attribute>
                            </optional>
                            <ref name="treatments"/>
                          </element>
                        </zeroOrMore>
                        <optional>
                          <element name="adhesiveLayer">
                            <ref name="treatments"/>
                          </element>
                        </optional>
                        <optional>
                          <!-- CHECK IF ACTUALLY USED IN THE RECORDS -->
                          <element name="spineShape">
                            <ref name="treatments"/>
                          </element>
                        </optional>
                      </element>
                    </optional>
                    <optional>
                      <element name="endbands">
                        <oneOrMore>
                          <element name="endband">
                            <attribute name="place">
                              <ref name="placeValues"/>
                            </attribute>
                            <choice>
                              <oneOrMore>
                                <ref name="endbandComponents"/>
                                <ref name="treatments"/>
                              </oneOrMore>
                              <ref name="treatments"/>
                            </choice>
                          </element>
                        </oneOrMore>
                      </element>
                    </optional>
                    <optional>
                      <element name="cover">
                        <choice>
                          <ref name="treatments"/>
                          <group>
                            <documentation
                              xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Indicate
                              if left side, right side, spine</documentation>
                            <oneOrMore>
                              <element name="section">
                                <attribute name="place">
                                  <ref name="placeValues"/>
                                </attribute>
                                <ref name="treatments"/>
                              </element>
                            </oneOrMore>
                          </group>
                        </choice>
                      </element>
                    </optional>
                    <optional>
                      <ref name="treatment"/>
                    </optional>
                  </element>
                </oneOrMore>
                <zeroOrMore>
                  <element name="protection">
                    <optional>
                      <choice>
                        <element name="encasing">
                          <interleave>
                            <ref name="conservationMaterials"/>
                            <ref name="places"/>
                            <element name="component">
                              <ref name="components"/>
                            </element>
                          </interleave>
                        </element>
                        <element name="housing">
                          <zeroOrMore>
                            <choice>
                              <element name="box">
                                <text/>
                              </element>
                              <element name="enclosure">
                                <text/>
                              </element>
                              <element name="other">
                                <text/>
                              </element>
                            </choice>
                          </zeroOrMore>
                        </element>
                        <element name="other">
                          <text/>
                        </element>
                      </choice>
                    </optional>
                  </element>
                </zeroOrMore>
              </element>
              <zeroOrMore>
                <element name="notes">
                  <attribute name="type">
                    <choice>
                      <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">the
                        value 'documentation' is used to copy notes from the reports</documentation>
                      <value>documentation</value>
                      <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">the
                        value 'modelling' is used to notify modelling issues</documentation>
                      <value>modelling</value>
                    </choice>
                  </attribute>
                  <text/>
                </element>
              </zeroOrMore>
            </element>
          </element>
        </element>
      </element>
    </element>
  </start>
  <define name="presence">
    <element name="presence">
      <choice>
        <value>NK</value>
        <value>yes</value>
        <value>no</value>
      </choice>
    </element>
  </define>
  <define name="treatment">
    <optional>
      <oneOrMore>
        <optional>
          <ref name="techniques"/>
        </optional>
        <optional>
          <oneOrMore>
            <ref name="places"/>
          </oneOrMore>
        </optional>
        <optional>
          <element name="materials">
            <oneOrMore>
              <ref name="conservationMaterials"/>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <oneOrMore>
            <ref name="conservationTools"/>
          </oneOrMore>
        </optional>
        <optional>
          <ref name="construction"/>
        </optional>
        <optional>
          <ref name="extent"/>
        </optional>
      </oneOrMore>
    </optional>
  </define>
  <define name="treatments">
    <oneOrMore>
      <choice>
        <element name="removal">
          <optional>
            <attribute name="type">
              <choice>
                <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                  >"temporary" indicates temporary removal during/for conservation
                  treatments</documentation>
                <value>temporary</value>
                <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"
                  >"permanent" indicates permanent removal from the object. This is the default
                  value.</documentation>
                <value>permanent</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <element name="component">
              <optional>
                <attribute name="n">
                  <data type="integer"/>
                </attribute>
              </optional>
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="reinforcement">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="repair">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="preparation">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="reattachment">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="finishing">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
        <element name="new">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
          <optional>
            <element name="type">
              <choice>
                <value>quarter binding</value>
              </choice>
            </element>
          </optional>
        </element>
        <element name="cleaning">
          <optional>
            <element name="component">
              <ref name="components"/>
            </element>
          </optional>
          <ref name="treatment"/>
        </element>
      </choice>
    </oneOrMore>
  </define>
  <define name="condition">
    <element name="conditionValues">
      <choice>
        <value>NK</value>
        <element name="good">
          <text/>
        </element>
        <element name="atRisk">
          <text/>
        </element>
        <element name="broken">
          <text/>
        </element>
        <element name="missing">
          <text/>
        </element>
        <element name="previouslyRepaired">
          <text/>
        </element>
        <element name="other">
          <text/>
        </element>
      </choice>
    </element>
    <zeroOrMore>
      <element name="conditionSpecification">
        <text/>
      </element>
    </zeroOrMore>
  </define>
  <define name="conditions">
    <oneOrMore>
      <element name="condition">
        <ref name="condition"/>
        <optional>
          <ref name="places"/>
        </optional>
        <optional>
          <element name="component">
            <ref name="components"/>
          </element>
        </optional>
        <optional>
          <ref name="materials"/>
        </optional>
        <optional>
          <ref name="extent"/>
        </optional>
      </element>
    </oneOrMore>
  </define>
  <define name="places">
    <zeroOrMore>
      <element name="compositePlace">
        <oneOrMore>
          <element name="place">
            <ref name="placeValues"/>
          </element>
        </oneOrMore>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="place">
        <ref name="placeValues"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="placeValues">
    <text/>
  </define>
  <define name="conservationMaterials">
    <oneOrMore>
      <group>
        <element name="material">
          <optional>
            <attribute name="adhesive">
              <choice>
                <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Default
                  value is no</documentation>
                <value>yes</value>
                <value>no</value>
              </choice>
            </attribute>
          </optional>
          <choice>
            <text/>
            <element name="other">
              <text/>
            </element>
          </choice>
          <optional>
            <element name="solutions">
              <oneOrMore>
                <element name="solvent">
                  <text/>
                </element>
              </oneOrMore>
              <optional>
                <choice>
                  <element name="proportion">
                    <optional>
                      <attribute name="specification">
                        <text/>
                      </attribute>
                    </optional>
                    <text/>
                  </element>
                  <element name="solventMeasurement">
                    <ref name="measurements"/>
                  </element>
                </choice>
              </optional>
            </element>
          </optional>
        </element>
        <optional>
          <oneOrMore>
            <element name="materialSpecification">
              <text/>
            </element>
          </oneOrMore>
        </optional>
        <optional>
          <element name="materialCommercialName">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="materialMeasurement">
            <ref name="measurements"/>
          </element>
        </optional>
      </group>
    </oneOrMore>
  </define>
  <define name="materials">
    <element name="material">
      <optional>
        <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">LoC data: to map
          media materials</documentation>
        <attribute name="type">
          <text/>
        </attribute>
      </optional>
      <choice>
        <text/>
        <element name="other">
          <text/>
        </element>
      </choice>
    </element>
    <optional>
      <oneOrMore>
        <element name="materialSpecification">
          <optional>
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Attribute for
              LoC data stored in <Other/>; default value is no</documentation>
            <attribute name="other">
              <choice>
                <value>yes</value>
                <value>no</value>
              </choice>
            </attribute>
          </optional>
          <text/>
        </element>
      </oneOrMore>
    </optional>
  </define>
  <define name="techniques">
    <element name="technique">
      <text/>
    </element>
    <zeroOrMore>
      <element name="techniqueSpecification">
        <text/>
      </element>
    </zeroOrMore>
  </define>
  <define name="endleafComponents">
    <element name="component">
      <optional>
        <attribute name="n">
          <data type="integer"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="endbandComponents">
    <element name="component">
      <choice>
        <value>core</value>
        <value>thread</value>
        <value>tie-downs</value>
        <element name="other">
          <text/>
        </element>
      </choice>
    </element>
  </define>
  <define name="solutions">
    <element name="solutions">
      <oneOrMore>
        <element name="solvent">
          <choice>
            <value>Acetone</value>
            <value>Acrylic Paint</value>
            <value>Acrysol</value>
            <value>Agarose</value>
            <value>Ammonium Hydroxide</value>
            <value>Amylase </value>
            <value>Asian Paper</value>
            <value>Benzyne</value>
            <value>Berlin Tissue</value>
            <value>Butvar Resin</value>
            <value>Calcium Bicarbonate</value>
            <value>Calcium carbonate</value>
            <value>Calcium hydroxide</value>
            <value>Calcium phytate </value>
            <value>Cellofas</value>
            <value>Chalk Pencil</value>
            <value>Colored Pencil</value>
            <value>DMF</value>
            <value>EDTA</value>
            <value>Ethanol</value>
            <value>Ethulose</value>
            <value>Ethyl Acetate</value>
            <value>Gelatin</value>
            <value>Gellan gum</value>
            <value>Hydrogen Peroxide</value>
            <value>Isopropanol</value>
            <value>Klucel G</value>
            <value>Klucel M</value>
            <value>Magnesium bicarbonate</value>
            <value>MEK</value>
            <value>Methylcellulose</value>
            <value>Parchment Size</value>
            <value>Pastel</value>
            <value>Phloroglucinol</value>
            <value>Protease</value>
            <value>RK Paper</value>
            <value>SC6000</value>
            <value>Sodium Borohydride</value>
            <value>Sodium CMC</value>
            <value>Sodium Hydroxide</value>
            <value>Tape Removal Formula 1</value>
            <value>Tape Removal Formula 2</value>
            <value>Tape Removal Formula 3</value>
            <value>Textile</value>
            <value>Toluene</value>
            <value>Water</value>
            <value>Water/ethanol</value>
            <value>Watercolor</value>
            <value>Western Paper</value>
            <value>Xylene</value>

            <!-- Not used for LoC data -->
            <!--<value>IMS</value>-->
          </choice>
        </element>
      </oneOrMore>
      <optional>
        <choice>
          <element name="proportion">
            <optional>
              <attribute name="specification">
                <choice>
                  <value>w/v</value>
                  <value>w/w</value>
                  <value>v/v</value>
                </choice>
              </attribute>
            </optional>
            <text/>
          </element>
          <element name="solventMeasurement">
            <ref name="measurements"/>
          </element>
        </choice>
      </optional>
    </element>
  </define>
  <define name="conservationTools">
    <element name="conservationTools">
      <text/>
    </element>
  </define>
  <define name="objectType">
    <element name="type">
      <text/>
    </element>
  </define>
  <define name="departments">
    <element name="department">
      <text/>
    </element>
  </define>
  <define name="components">
    <choice>
      <text/>
      <element name="other">
        <text/>
      </element>
    </choice>
  </define>
  <define name="colours">
    <element name="colours">
      <oneOrMore>
        <element name="colour">
          <text/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="construction">
    <element name="construction">
      <optional>
        <attribute name="type">
          <choice>
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">formation is
              used to indicate how a component is constructed</documentation>
            <value>formation</value>
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">application
              is used to indicate how things are put together or a component is
              applied</documentation>
            <value>application</value>
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">preparation
              is used to indicate how a component is prepared before application</documentation>
            <value>preparation</value>
          </choice>
        </attribute>
      </optional>
      <oneOrMore>
        <zeroOrMore>
          <ref name="techniques"/>
        </zeroOrMore>
        <optional>
          <oneOrMore>
            <optional>
              <element name="element">
                <ref name="components"/>
              </element>
            </optional>
            <optional>
              <ref name="places"/>
            </optional>
            <zeroOrMore>
              <element name="materials">
                <ref name="conservationMaterials"/>
              </element>
            </zeroOrMore>
          </oneOrMore>
        </optional>
      </oneOrMore>
    </element>
  </define>
  <define name="extent">
    <element name="extent">
      <choice>
        <value>NK</value>
        <oneOrMore>
          <element name="number">
            <data type="integer"/>
          </element>
        </oneOrMore>
        <element name="measurement">
          <element name="measurementValue">
            <data type="double"/>
          </element>
          <element name="measurementUnit">
            <text/>
          </element>
        </element>
        <element name="other">
          <text/>
        </element>
      </choice>
    </element>
  </define>
  <define name="measurements">
    <choice>
      <group>
        <element name="measurement">
          <text/>
        </element>
        <element name="measurementUnit">
          <text/>
        </element>
      </group>
    </choice>
  </define>
</grammar>
